.messagesContainer {
	height: 350px;
}

.container {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: var(--s-6);
}

.containerMobile {
	grid-template-columns: 1fr;
	min-width: 300px;
	margin: 0 auto;
}

.innerContainer {
	max-width: 94vw;
}

.header {
	text-align: center;
	font-size: var(--font-2xs);
	font-weight: var(--weight-semi);
	text-transform: uppercase;
	color: var(--color-text-accent);
	display: flex;
	align-items: center;
}

.header::before,
.header::after {
	flex: 1;
	content: "";
	padding: 2px;
	background-color: var(--color-bg-high);
	margin: 5px;
	border-radius: var(--radius-box);
}
