.clocksContainer {
	display: flex;
	gap: var(--s-2);
}

.clock {
	font-size: var(--fonts-sm);
	font-weight: var(--bold);
	color: var(--color-text-high);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex: 1 1 0;
	line-height: 1.3;
}

.clockCountry {
	color: var(--color-text) !important;
	white-space: nowrap;
	font-size: var(--fonts-xs);
}

.frontPageLink {
	background-color: var(--color-bg-high);
	border-radius: var(--radius-field);
	padding: var(--s-2);
	font-size: var(--fonts-sm);
	color: var(--color-text);
	font-weight: var(--bold);
	display: flex;
	align-items: center;
	gap: var(--s-2-5);
	transition: background-color 0.2s;
}

.frontPageLink:hover {
	background-color: var(--color-bg-higher);
}

.linkSubText {
	color: var(--color-text-high);
	font-size: var(--fonts-xxs);
	font-weight: var(--body);
}
