.form {
	display: flex;
	flex-direction: column;
	gap: var(--s-6);
	width: 100%;
	max-width: 24rem;
	margin: 0 auto;

	&.fullWidth {
		margin: 0;
		max-width: none;
	}
}

.title {
	font-size: var(--font-lg);
	font-weight: var(--weight-extra);
}
