.seasonMatch {
	background-color: var(--color-bg-high);
	border-radius: var(--radius-box);
	padding: var(--s-2) var(--s-3);
	color: var(--color-text);
	transition: ease-in 0.2s background-color;
	display: flex;
	flex-direction: column;
	gap: var(--s-4);

	&:hover {
		background-color: var(--color-bg-higher);
	}
}

.seasonMatchWithSubSection {
	border-radius: var(--radius-box) var(--radius-box) 0 0;
}

.seasonMatchSubSection {
	border-radius: 0 0 var(--radius-box) var(--radius-box);
	background-color: var(--color-bg-high);
	font-size: var(--font-xs);
	text-align: center;
	font-weight: var(--weight-bold);
	display: flex;
	gap: var(--s-3);
	justify-content: center;
	padding-block: var(--s-0-5);
}

.seasonMatchUser {
	display: flex;
	flex-direction: column;
	font-size: var(--font-xs);
	width: 65px;
	align-items: center;
}

.seasonMatchUserName {
	max-width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.seasonMatchScore {
	font-size: var(--font-xl);
	font-weight: var(--weight-bold);
	margin-inline: auto;
}

.seasonMatchSetResults {
	list-style: none;
	display: flex;
	gap: var(--s-2);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	padding: 0;

	& li {
		width: 28px;
		height: 28px;
		display: grid;
		place-items: center;
		font-size: var(--font-xs);
		font-weight: var(--weight-semi);
		border: 3px solid var(--color-accent);
		border-radius: var(--radius-field);
		color: var(--color-text);
		border-color: var(--color-error);

		&[data-is-win="true"] {
			border-color: var(--color-success);
		}
	}
}
