.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--s-6);
}

.inGameNameHashtag {
	font-size: var(--fonts-lg);
}

.inGameNameDiscriminator {
	min-width: 5rem;
	flex: 1;
}

.sensContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--s-4);
}

.sensSelect {
	min-width: 100%;
	flex: 1;
}

.seperator {
	margin-left: var(--s-4);
}

.weaponPool {
	width: 100%;
}

.bioContainer {
	width: 100%;
}

.bioContainer > textarea {
	width: 100%;
}
