.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--s-6);
}

.sensSelect {
	min-width: 100%;
	flex: 1;
}

.weaponPool {
	width: 100%;
}

.starFilled {
	fill: var(--color-text-accent);
}
