.radio {
	background-color: var(--color-bg-high);
	font-size: var(--fonts-xs);
	text-transform: uppercase;
	font-weight: var(--semi-bold);
	color: var(--color-text-high);
	padding: var(--s-1) var(--s-2);
	border-radius: var(--rounded);
	display: flex;
	align-items: center;
	gap: var(--s-1);
	cursor: pointer;
}

.radioEmoji {
	filter: grayscale(100%);
	transition: all 0.2s;
}

.radioChecked {
	color: var(--color-text);
	outline: 2px solid var(--color-bg-higher);
}

.radioChecked .radioEmoji {
	filter: grayscale(0%);
}

.radio:hover .radioEmoji {
	scale: 1.1;
}

.summary {
	padding: var(--s-3);
	border-radius: var(--rounded);
	background-color: var(--color-bg-high);
	font-size: var(--fonts-lg);
	font-weight: var(--bold);
	margin-block-end: var(--s-4);
	position: relative;
}

.summary > div {
	display: inline-flex;
}

.summary svg {
	width: 24px;
	color: var(--color-text-accent);
	position: absolute;
	right: 20px;
	top: 14px;
}

.weaponPoolSelectContainer {
	width: 250px;
	height: 50px;
}

.volumeSliderIcon {
	width: 16px;
	height: 16px;
}

/*
Necessary because default style adds padding, making the slider not go from 0 to 1 visually
Changing the default style would affect all other input elements, so we need to override it
*/
.volumeSliderInput {
	padding-left: 0 !important;
	padding-right: 0 !important;
	border: 0 !important;
}
