.summary {
	padding: var(--s-3);
	border-radius: var(--rounded);
	background-color: var(--color-bg-high);
	font-size: var(--fonts-lg);
	font-weight: var(--bold);
	margin-block-end: var(--s-4);
	position: relative;
}

.summary > div {
	display: inline-flex;
}

.summary svg {
	width: 24px;
	color: var(--color-text-accent);
	position: absolute;
	right: 20px;
	top: 14px;
}

.weaponPoolSelectContainer {
	width: 250px;
	height: 50px;
}

.starFilled {
	fill: var(--color-text-accent);
}

.volumeSliderIcon {
	width: 16px;
	height: 16px;
}

/*
Necessary because default style adds padding, making the slider not go from 0 to 1 visually
Changing the default style would affect all other input elements, so we need to override it
*/
.volumeSliderInput {
	padding-left: 0 !important;
	padding-right: 0 !important;
	border: 0 !important;
}
