.sendou-popover-content {
	max-width: 20rem;
	padding: var(--s-2);
	border: 2px solid var(--color-border);
	border-radius: var(--rounded);
	background-color: var(--color-bg);
	font-size: var(--fonts-sm);
	font-weight: var(--semi-bold);
	white-space: pre-wrap;
}

.react-aria-Dialog {
	outline: none;
}

.react-aria-Label {
	font-size: var(--fonts-xs);
	font-weight: var(--bold);
	margin-block-end: var(--label-margin);
	display: block;
}

.react-aria-DatePicker .react-aria-Group {
	display: flex;
	border: 2px solid var(--color-border);
	border-radius: var(--rounded-sm);
	accent-color: var(--color-accent);
	background-color: var(--color-bg);
	color: var(--color-text);
	font-size: var(--fonts-sm);
	outline: none;
	height: 1rem;
	padding: var(--s-4) var(--s-3);
	width: var(--input-width, var(--input-width-medium));
}

.react-aria-DatePicker[data-open] .react-aria-Group {
	border-color: transparent;
	outline: 2px solid var(--color-text-accent);
}

.react-aria-DatePicker .react-aria-DateInput {
	display: flex;
	margin-block-start: -11px;
}

.react-aria-DateSegment {
	outline-color: var(--color-accent-low);
}

.react-aria-DatePicker .react-aria-Button {
	margin-inline-start: auto;
	background-color: transparent;
	border: none;
	margin-block-start: -9px;
	margin-inline-end: -8px;
	outline: none;
}

.react-aria-DatePicker svg {
	fill: var(--color-text-high);
	width: 17.5px;
}

.react-aria-Calendar {
	background-color: var(--color-bg);
	border-radius: var(--rounded);
	padding: var(--s-4);
	border: var(--border-style);
}

.react-aria-Calendar header {
	display: flex;
	gap: var(--s-2);
	justify-content: space-between;
	align-items: center;
	margin-block-end: var(--s-1);
	min-width: 250px;
}

.react-aria-Calendar .react-aria-Heading {
	font-size: var(--fonts-lg);
}

.react-aria-Calendar .react-aria-Button {
	background-color: transparent;
	color: var(--color-text-accent);
	border: none;
	padding: 0;
	border-radius: 100%;
}

.react-aria-Calendar .react-aria-Button svg {
	fill: var(--color-text-accent);
	width: 27.5px;
}

.react-aria-DatePicker .react-aria-Button[data-focused] svg {
	fill: var(--color-text-accent);
}

.react-aria-CalendarGrid {
	width: 100%;
}

.react-aria-CalendarHeaderCell {
	color: var(--color-text-high);
}

.react-aria-CalendarCell {
	display: grid;
	place-items: center;
	font-size: var(--fonts-sm);
	padding: var(--s-1-5);
	width: 35px;
	height: 35px;
	border-radius: var(--rounded-sm);
	outline-color: var(--color-accent);
}

.react-aria-CalendarCell[data-outside-month] {
	display: none;
}

.react-aria-CalendarCell[data-disabled] {
	opacity: 0.5;
	background-color: transparent !important;
}

.react-aria-Calendar .react-aria-CalendarCell[data-selected] {
	background-color: var(--color-bg-high);
	color: var(--color-text-accent);
}

.react-aria-CalendarCell:hover {
	background-color: var(--color-bg-high);
	outline: initial;
}

.react-aria-Switch {
	--height: var(--toggle-height);

	cursor: pointer;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 0.571rem;
	color: var(--text-color);
	forced-color-adjust: none;
	font-size: var(--fonts-xs);
	font-weight: var(--bold);
	margin-block-end: 0;

	&.small {
		--height: var(--toggle-height-small);
	}
}

.react-aria-Switch .indicator {
	width: calc(var(--height) * 1.75);
	height: var(--height);
	background: var(--color-bg);
	border: 2px solid var(--color-border);
	border-radius: 99999px;

	&:before {
		content: "";
		display: block;
		margin: 2px;
		width: calc(var(--height) - 8px);
		height: calc(var(--height) - 8px);
		aspect-ratio: 1 / 1;
		background: var(--color-border);
		border-radius: 50%;
		transition: transform 200ms;
	}
}

.react-aria-Switch[data-selected] .indicator {
	background: var(--color-text-accent);
	border-color: var(--color-text-accent);

	&:before {
		transform: translateX(calc(var(--height) * 0.75));
		background: var(--color-text-inverse);
	}
}

.react-aria-Switch[data-focus-visible] .indicator {
	outline: 2px solid var(--color-accent-high);
	outline-offset: 2px;
}

.react-aria-Switch[data-disabled] .indicator {
	opacity: 0.65;
}

.react-aria-Switch[data-disabled] {
	cursor: not-allowed;
}
