.frontPageContainer {
	--card-width: 225px;
	--card-height: 93px;
	display: flex;
	flex-direction: column;
	gap: var(--s-8);
}

.changeLogImg {
	max-height: 300px;
	border-radius: var(--radius-field);
}

.changeLogIconButton {
	display: flex;
	flex-direction: row;
	gap: var(--s-1-5);
	justify-content: center;
	align-items: center;
	font-weight: var(--weight-bold);
	font-size: var(--font-xs);
	border-radius: 100%;
	color: var(--color-text-high);
}

.changeLogIconButton:hover {
	color: var(--color-text-accent);
}

.externalLinkIcon {
	width: 18px;
	stroke-width: 2px;
}

@property --l {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 50%;
}

.seasonBanner {
	/*  needed for firefox to have a valid output */
	--l: 50%;

	background: linear-gradient(
		to right,
		var(--color-bg-higher),
		var(--l),
		var(--color-bg)
	);
	border-radius: var(--radius-box);
	padding: var(--s-2) var(--s-3);
	line-height: 1.35;
	position: relative;
	color: var(--color-text);
	border: 2.5px solid var(--color-bg-higher);
	transition: --l 0.2s ease-out;
	margin-block-start: var(--s-4);
}

.seasonBanner:hover {
	--l: 75%;
}

.seasonBannerHeader {
	font-size: var(--font-xl);
	font-weight: var(--weight-bold);
}

.seasonBannerDates {
	font-size: var(--font-xs);
	font-weight: var(--weight-semi);
}

.seasonBannerImg {
	position: absolute;
	width: 83px;
	right: 8px;
	top: -44.5px;
}

.seasonBannerLink {
	background-color: var(--color-bg-higher);
	border-radius: var(--radius-box);
	width: max-content;
	padding: var(--s-0-5) var(--s-1-5);
	font-size: var(--font-xs);
	color: var(--color-text);
	display: flex;
	gap: var(--s-2);
	align-items: center;
}

.seasonBannerLink svg {
	width: 24px;
	transition: all 0.2s ease-out;
}

.seasonBannerLink:hover svg {
	translate: 2px;
}

.tournamentCards {
	display: flex;
	justify-content: space-between;
	gap: var(--s-2);
	margin-block-start: var(--s-2);
}

.tournamentCardsSpacer {
	display: flex;
	gap: var(--s-2);
	height: 100%;
}

.tournamentCardsViewAllCard {
	background-color: var(--color-bg-high);
	height: var(--card-height);
	border-radius: var(--radius-box);
	display: grid;
	place-items: center;
	padding: var(--s-2);
	font-size: var(--font-2xs);
	font-weight: var(--weight-bold);
	text-align: center;
	color: var(--color-text);
	transition: 0.2s ease-out;
	min-width: 90px;
	max-width: 90px;
	border: 2.5px solid var(--color-bg-higher);
}

.tournamentCardsViewAllCard:hover {
	background-color: var(--color-bg-higher);
}

.resultHighlights {
	display: flex;
	gap: var(--s-2);
}

.resultHighlightsTitle {
	font-size: var(--font-xs);
}

.resultHighlightsTitleTournaments {
	align-self: flex-start;
	margin-inline-start: 65px;
}

.leaderboard {
	min-width: var(--card-width);
	max-width: var(--card-width);
	background-color: var(--color-bg-higher);
	border-radius: var(--radius-box);
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	padding: var(--s-2);
}

.leaderboardName {
	font-size: var(--font-sm);
	font-weight: var(--weight-bold);
	white-space: nowrap;
	max-width: 140px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.leaderboardViewAll {
	font-size: var(--font-2xs);
	color: var(--color-text);
	background-color: var(--color-bg-higher);
	border-radius: var(--radius-box);
	width: max-content;
	padding-inline: var(--s-2);
	display: flex;
	gap: var(--s-1);
	padding: var(--s-0-5) var(--s-1-5);
}

.lutiBanner {
	background-color: #4874a0;
	color: #fff;
	border-radius: var(--radius-box);
	padding: var(--s-2);
	justify-content: center;
	display: flex;
	gap: var(--s-2);
	flex-wrap: wrap;
}
