.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--s-6);
}

.countrySelect {
	max-width: 10rem;
}

.inGameNameText {
	max-width: 8rem;
}

.inGameNameHashtag {
	font-size: var(--fonts-lg);
}

.inGameNameDiscriminator {
	width: 5rem;
}

.sensSelect {
	width: 6rem;
}

.weaponPool {
	width: 20rem;
}

.bioContainer {
	width: 100%;
}

.bioContainer > textarea {
	width: 100%;
}
