.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--s-6);
}

.sensSelect {
	width: 6rem;
}

.seperator {
	margin-left: var(--s-4);
}

.weaponPool {
	width: 20rem;
}
