.text-xl {
	font-size: var(--fonts-xl);
}

.text-lg {
	font-size: var(--fonts-lg);
}

.text-sm {
	font-size: var(--fonts-sm);
}

.text-md {
	font-size: var(--fonts-md);
}

.text-xs {
	font-size: var(--fonts-xs);
}

.text-xxs {
	font-size: var(--fonts-xxs);
}

.text-xxxs {
	font-size: var(--fonts-xxxs);
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-main-forced {
	color: var(--color-text) !important;
}

.text-lighter {
	color: var(--color-text-high);
}

.text-lighter-important {
	color: var(--color-text-high) !important;
}

.text-theme-transparent {
	color: var(--color-accent-low);
}

.text-error {
	color: var(--color-error);
}

.text-success {
	color: var(--color-success);
}

.text-info {
	color: var(--color-info);
}

.text-warning {
	color: var(--color-warning);
}

.text-warning-important {
	color: var(--color-warning) !important;
}

.text-theme {
	color: var(--color-text-accent);
}

.text-theme-secondary {
	color: var(--color-text-accent);
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.underline {
	text-decoration: underline;
}

.fill-success {
	fill: var(--color-success);
}

.fill-warning {
	fill: var(--color-warning);
}

.fill-error {
	fill: var(--color-error);
}

.fill-info {
	fill: var(--color-info);
}

.bg {
	background-color: var(--color-bg);
}

.bg-lighter {
	background-color: var(--color-bg-high);
}

.bg-transparent-important {
	background-color: transparent !important;
}

.bg-darker-transparent {
	background-color: var(--color-bg);
}

.bg-theme-transparent-important {
	background-color: var(--color-accent-low) !important;
}

.rounded {
	border-radius: var(--rounded);
}

.rounded-sm {
	border-radius: var(--rounded-sm);
}

.rounded-full {
	border-radius: 100%;
}

.font-body {
	font-weight: var(--body);
}

.font-semi-bold {
	font-weight: var(--semi-bold);
}

.font-bold {
	font-weight: var(--bold);
}

.h-full {
	height: 100%;
}

.w-full {
	width: 100%;
}

.w-full-important {
	width: 100% !important;
}

.w-4 {
	width: var(--s-4);
}

.w-6 {
	width: var(--s-6);
}

.w-24 {
	width: var(--s-24);
}

.min-w-max {
	min-width: max-content;
}

.w-max {
	width: max-content;
}

.w-min {
	width: min-content;
}

.p-1 {
	padding: var(--s-1);
}

.p-1-5 {
	padding: var(--s-1-5);
}

.px-4 {
	padding-inline: var(--s-4);
}

.py-4 {
	padding-block: var(--s-4);
}

.pl-0 {
	padding-inline-start: 0;
}

.pl-4 {
	padding-inline-start: var(--s-4);
}

.px-2 {
	padding-inline: var(--s-2);
}

.pb-4 {
	padding-block-end: var(--s-4);
}

.pt-0 {
	padding-block-start: 0;
}

.pt-0-5-forced {
	padding-block-start: var(--s-0-5) !important;
}

.pt-8-forced {
	padding-block-start: var(--s-8) !important;
}

.m-auto-0 {
	margin: auto 0;
}

.mt-auto {
	margin-block-start: auto;
}

.mt-0 {
	margin-block-start: 0;
}

.-mt-1px {
	margin-block-start: -1px;
}

.mt-1 {
	margin-block-start: var(--s-1);
}

.mt-1-5 {
	margin-block-start: var(--s-1-5);
}

.mt-2 {
	margin-block-start: var(--s-2);
}

.mt-3 {
	margin-block-start: var(--s-3);
}

.mt-4 {
	margin-block-start: var(--s-4);
}

.mt-6 {
	margin-block-start: var(--s-6);
}

.mt-12 {
	margin-block-start: var(--s-12);
}

.mb-0 {
	margin-block-end: 0;
}

.mb-1 {
	margin-block-end: var(--s-1);
}

.mb-2 {
	margin-block-end: var(--s-2);
}

.mb-4 {
	margin-block-end: var(--s-4);
}

.ml-auto {
	margin-inline-start: auto;
}

.ml-1 {
	margin-inline-start: var(--s-1);
}

.ml-2 {
	margin-inline-start: var(--s-2);
}

.ml-2-5 {
	margin-inline-start: var(--s-2-5);
}

.ml-4 {
	margin-inline-start: var(--s-4);
}

.ml-6 {
	margin-inline-start: var(--s-6);
}

.mr-auto {
	margin-inline-end: auto;
}

.mr-1 {
	margin-inline-end: var(--s-1);
}

.mr-2 {
	margin-inline-end: var(--s-2);
}

.mr-4 {
	margin-inline-end: var(--s-4);
}

.mx-auto {
	margin-inline: auto;
}

.mx-1 {
	margin-inline: var(--s-1);
}

.mx-2 {
	margin-inline: var(--s-2);
}

.my-auto {
	margin-block: auto;
}

.my-1 {
	margin-block: var(--s-1);
}

.my-2 {
	margin-block: var(--s-2);
}

.my-3 {
	margin-block: var(--s-3);
}

.my-4 {
	margin-block: var(--s-4);
}

.my-24 {
	margin-block: var(--s-24);
}

.m-0-auto {
	margin: 0 auto;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.whitespace-pre-wrap {
	white-space: pre-wrap;
}

.whitespace-nowrap {
	white-space: nowrap;
}

.overflow-x-auto {
	overflow-x: auto;
	scrollbar-color: rgb(83 65 91) transparent;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

.overflow-x-scroll {
	overflow-x: scroll;
	scrollbar-color: rgb(83 65 91) transparent;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

.relative {
	position: relative;
}

.italic {
	font-style: italic;
}

.contents {
	display: contents;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-evenly {
	justify-content: space-evenly;
}

.justify-self-end {
	justify-self: flex-end;
}

.justify-self-center {
	justify-self: center;
}

.self-center {
	align-self: center;
}

.self-start {
	align-self: flex-start;
}

.justify-self-start {
	justify-self: flex-start;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.all-unset {
	all: unset;
}

.outline-theme:focus {
	outline: 2px solid var(--color-accent);
}

.focus-text-decoration:focus-visible {
	outline: none !important;
	text-decoration: underline;
}

.label-no-spacing {
	--label-margin: 0;
}

.mobile-hidden {
	display: none;
}

.desktop-hidden {
	display: inherit;
}

.cursor-pointer {
	cursor: pointer;
}

.line-height-tight {
	line-height: 1.3;
}

.line-height-very-tight {
	line-height: 1.1;
}

.opaque {
	opacity: 0.6;
}

.list-none {
	list-style: none;
}

@media screen and (min-width: 480px) {
	.mobile-hidden {
		display: inherit;
	}

	.desktop-hidden {
		display: none;
	}
}
