version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
        exclude-patterns:
          - "@biomejs/*"
    ignore:
      - dependency-name: "tldraw"
      - dependency-name: "@tldraw/*"
