.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: var(--rounded);
	background-color: var(--bg-badge);
	color: var(--color-text-high);
	gap: var(--s-6);
	padding-block: var(--s-2);
	padding-inline: var(--s-3);
}

.smallBadges {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--s-2);
	margin-block-start: var(--s-1);
}

.navLink.active {
	display: none;
}

.generalInfoTexts {
	display: flex;
	justify-content: space-between;
	color: var(--color-text-high);
	font-size: var(--fonts-xs);
	padding-inline: var(--s-1);
}

.explanation {
	color: var(--color-text-accent);
	font-weight: var(--semi-bold);
	text-align: center;
}

.managers {
	color: var(--color-text-high);
	font-size: var(--fonts-xxs);
	text-align: center;
}

.ownersContainer {
	height: 8rem;
	overflow-y: auto;
}

.owners {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	font-size: var(--fonts-sm);
	gap: var(--s-1-5);
}

.owners > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.1;
	list-style: none;
}

.count {
	color: var(--color-accent-high);
	font-size: var(--fonts-xs);
}

.editUsersList > li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

.editUsersList {
	display: flex;
	flex-direction: column;
	padding: 0;
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	gap: var(--s-2);
	padding-block-end: var(--s-2-5);
}

.editNumberInput {
	max-width: 5rem;
}

.editCancelButton {
	width: max-content;
	margin: 0 auto;
}

.editBigHeader {
	font-size: var(--fonts-lg);
}

.editSmallHeader {
	font-size: var(--fonts-md);
}

.editDifferences {
	padding: 0;
	font-size: var(--fonts-xs);
	list-style: none;
}

.editDifferences > li::before {
	content: "-";
	padding-inline-end: 5px;
}

.searchInput {
	height: 40px !important;
	margin: 0 auto;
	font-size: var(--fonts-lg);
}
