node_modules
test-results

/.cache*
/build
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/public/build
.env
translation-progress.md

notes.md

db*.sqlite3*
!db-test.sqlite3
dump

.DS_Store
Thumbs.db
.excalidraw

/scripts/output/*
!/scripts/output/.gitkeep

/scripts/dicts/**/*.json
/test-results/
/playwright-report/
/playwright/.cache/

.vscode

notepad.txt

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
