# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# xxx: include these
/migrations/
/locales/
/e2e/
/scripts/
/docs/
/content/
/.github/
/types/
