.table {
	display: flex;
	flex-direction: column;
	gap: var(--s-0-5);
	font-size: var(--fonts-sm);
	font-weight: var(--semi-bold);
}

.tableRank {
	min-width: 28px;
	text-align: right;
}

.tableName {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 117px;
}

.tierHeader {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	margin-block: var(--s-2);
	color: var(--color-text-high);
}

.tableRow {
	background-color: var(--color-bg-high);
	display: flex;
	padding: var(--s-2) var(--s-3);
	align-items: center;
	justify-content: space-between;
	color: var(--color-text);
	transition: 0.1s ease-in-out background-color;
}

a.tableRow:hover {
	background-color: var(--color-bg-higher);
}

.tableRow:first-of-type {
	border-radius: var(--rounded) var(--rounded) 0 0;
}

.tableRow:last-of-type {
	border-radius: 0 0 var(--rounded) var(--rounded);
}

.tableRow:only-child {
	border-radius: var(--rounded);
}

.tableRowQualification {
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	justify-content: center;
	background-color: var(--color-bg-higher);
	display: flex;
	gap: var(--s-2);
}

.tableWeapon {
	background-color: var(--color-bg);
	border-radius: 100%;
}

.tableMode {
	background-color: var(--color-bg);
	border-radius: 100%;
	padding: var(--s-1);
}

.time {
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	color: var(--color-text-high);
}

.tablePower {
	margin-inline-start: auto;
}

.tableInnerRow {
	display: flex;
	align-items: center;
	gap: var(--s-2-5);
	width: 100%;
}

.avatar {
	min-width: 24px;
	min-height: 24px;
}
