.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	gap: var(--s-3);
}

.slots {
	display: grid;
	margin: 0 auto;
	gap: var(--s-2);
	grid-template-columns: repeat(4, max-content);
	place-items: center;
}

.abilityButtons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--s-1);
	touch-action: manipulation;
}

.abilityButton {
	padding: var(--s-0-5);
	border: 2px solid var(--color-bg-high);
	border-radius: 50%;
	background-color: var(--bg-ability);
}

.abilityButton.isDragging {
	box-shadow: 0 0 100px inset rgb(255 255 255 / 25%);
}
