.ability {
	width: var(--ability-size);
	height: var(--ability-size);
	padding: 0;
	border: var(--border-style-high);
	border-radius: 50%;
	border-right: 0;
	border-bottom: 0;
	background: var(--color-bg-ability);
	background-size: 100%;
	transform: scale(1);
	transition: all 0.1s ease;
	user-select: none;
}

.isDragTarget {
	background: var(--color-bg-ability);
	transform: scale(1.15);
}

.dragStarted:not(.dropAllowed) {
	filter: grayscale(1);
	opacity: 0.3;
	pointer-events: none;
}

.readonly,
.readonly:active {
	cursor: default;
	transform: none;
}
