.addNewButton {
	padding: 0;
	height: var(--input-height-small);
	overflow: hidden;
	width: max-content;
}

.iconsContainer {
	display: flex;
	gap: var(--s-0-5);
	align-items: center;
	justify-content: center;
	background-color: var(--color-accent-low);
	height: 100%;
	padding-inline: var(--s-1);
}

.iconsContainer > svg {
	width: calc(var(--input-height-small) / 2);
	color: var(--color-text-accent);
	stroke-width: 4px;
}

.iconsContainer > picture {
	width: fit-content;
}

.textContainer {
	padding-inline: var(--s-1-5);
	background-color: var(--color-text-accent) !important;
	height: 100%;
	display: flex;
	align-items: center;
}
