.container {
	font-size: var(--font-2xs);
	background-color: var(--color-bg-high);
	border-radius: var(--radius-box);
	height: 100%;
	width: 100%;
}

.chart {
	width: 100%;
	height: 100%;
	aspect-ratio: 16 / 9;
	padding: var(--s-2);

	> svg {
		opacity: 1;
		transition: opacity 0.2s ease-in-out;

		@starting-style {
			opacity: 0;
		}
	}

	& *:focus {
		outline: none;
	}
}

.tooltip {
	border: var(--border-style);
	border-radius: var(--radius-field);
	background-color: var(--color-bg);
	padding: var(--s-1) var(--s-2);
	font-size: var(--font-sm);
	display: flex;
	flex-direction: column;
	gap: var(--s-1);
}

.tooltipValue {
	margin-inline-start: auto;
}

.dot {
	border-radius: var(--radius-selector);
	width: 12px;
	height: 12px;
}
