.circleBackdrop {
	position: relative;
	isolation: isolate;
	display: grid;
	place-items: center;
	flex-shrink: 0;
	width: fit-content;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		border-radius: 50%;
		background-color: var(--circle-backdrop-color, var(--color-bg-higher));
	}

	& > * {
		scale: var(--circle-backdrop-content-scale, 1.15);
	}

	& img {
		display: block;
	}
}

.bordered::before {
	border: var(--border-style-high);
}
