.error {
	display: block;
	color: var(--color-error);
	font-size: var(--font-xs);
	margin-block-start: var(--label-margin);
}

.info {
	display: block;
	color: var(--color-text-high);
	font-size: var(--font-xs);
	margin-block-start: var(--label-margin);
}

.noMargin {
	margin-block-start: 0;
}
