.trigger {
	border: var(--border-style-high);
	border-radius: 100%;
	background-color: transparent;
	color: var(--color-text);
	font-size: var(--fonts-md);
	padding: var(--s-0-5);
	width: calc(var(--field-size) * 0.7);
	height: calc(var(--field-size) * 0.7);
	display: flex;
	align-items: center;
	justify-content: center;

	&:focus-visible {
		outline: var(--focus-ring);
		outline-offset: 1px;
	}
}

.triggerTiny {
	width: var(--field-size-xs);
	height: var(--field-size-xs);
	font-size: var(--fonts-xs);
}
