.trigger {
	border: 2px solid var(--color-bg-higher);
	border-radius: 100%;
	background-color: transparent;
	color: var(--color-text);
	font-size: var(--fonts-md);
	padding: var(--s-0-5);
	width: var(--input-height);
	height: var(--input-height);
	display: flex;
	align-items: center;
	justify-content: center;

	&:focus-visible {
		outline: var(--input-focus-ring);
		outline-offset: 1px;
	}
}

.triggerTiny {
	width: var(--input-height-smaller);
	height: var(--input-height-smaller);
	font-size: var(--fonts-xs);
}
