.container {
	display: flex;
	font-size: var(--fonts-sm);
	outline: none;
	line-height: var(--field-line-height);
	border: var(--border-style);
	border-radius: var(--rounded-sm);
	background-color: var(--color-bg);
	height: var(--field-height);
	width: 100%;

	& svg {
		color: var(--color-text-high);
		height: calc(var(--field-height) / 2);
		margin: auto;
		margin-right: 15px;
	}

	&:has(input:user-invalid) {
		outline: var(--field-focus-ring-error);
		outline-offset: 1px;
	}

	&:focus-within {
		outline: var(--field-focus-ring);
		outline-offset: 1px;
	}

	input {
		border-radius: var(--rounded-sm);
		padding: 0 var(--field-padding-inline);
		outline: none;
		width: 100%;
		background-color: inherit;
		color: inherit;
		border: none;

		&::placeholder {
			color: var(--color-text-high);
		}
	}
}

.readOnly {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
	outline: none;
}

.addon {
	display: grid;
	border-radius: var(--rounded-xs) 0 0 var(--rounded-xs);
	background-color: var(--color-bg-high);
	color: var(--color-text-high);
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	padding-inline: var(--s-2);
	place-items: center;
	white-space: nowrap;
}
