.containerWithSideNav {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.mainWrapper {
	flex: 1;
	min-width: 0;
}

.main {
	padding: var(--layout-main-padding);
	margin-bottom: var(--s-32);
	min-height: calc(100dvh - var(--layout-nav-height));
}

.normal {
	width: 100%;
	max-width: 48rem;
	margin-inline: auto;
}

.narrow {
	width: 100%;
	max-width: 24rem;
	margin-inline: auto;
}

.wide {
	width: 100%;
	max-width: 72rem;
	margin-inline: auto;
}

@media screen and (display-mode: standalone) {
	.main {
		padding-block-start: env(safe-area-inset-top);
	}
}
