.containerWithSideNav {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.mainWrapper {
	flex: 1;
	min-width: 0;
}

.main {
	padding-block: var(--s-8) var(--s-32);
	min-height: calc(100dvh - var(--layout-nav-height));
}

.normal {
	width: 100%;
	max-width: 48rem;
	margin: 0 auto;
	padding-inline: var(--s-3);
}

.narrow {
	width: 100%;
	max-width: 24rem;
	margin: 0 auto;
}

.wide {
	width: 100%;
	max-width: 72rem;
	margin: 0 auto;
}

@media screen and (display-mode: standalone) {
	.main {
		padding-block-start: env(safe-area-inset-top);
	}
}
