.container {
	display: flex;
	flex-direction: row;
}

.containerWithSideNav {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.mainWrapper {
	flex: 1;
	min-width: 0;
}

.sideNavContainer {
	position: sticky;
	left: 0;
	top: var(--sticky-top);
	height: fit-content;
	margin: var(--s-2-5);
}

@media (max-width: 800px) {
	.sideNavContainer {
		display: none;
	}
}

.main {
	padding-block: var(--s-4) var(--s-32);
}

.normal {
	width: 100%;
	max-width: 48rem;
	margin: 0 auto;
	padding-inline: var(--s-3);
	min-height: 75vh;
}

.narrow {
	width: 100%;
	max-width: 24rem;
	margin: 0 auto;
}

.wide {
	width: 100%;
	max-width: 72rem;
	margin: 0 auto;
}

@media screen and (display-mode: standalone) {
	.main {
		padding-block-start: env(safe-area-inset-top);
	}
}
