.sideNav {
	--side-nav-width: 200px;
	background-color: var(--color-bg-high);
	position: sticky;
	left: 0;
	top: var(--sticky-top);
	height: fit-content;
	min-width: var(--side-nav-width);
	max-width: var(--side-nav-width);
	border: 1.5px solid var(--color-border);
	border-radius: var(--rounded);
	margin: var(--s-2-5);
	overflow: hidden;
}

.sideNavInner {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	padding: var(--s-1-5);
	padding-block-end: var(--s-2);
	overflow-y: auto;
	max-height: calc(100vh - var(--sticky-top) - var(--s-3-5));
	border-radius: calc(var(--rounded) - var(--s-1-5));
}

.sideNavLink {
	font-size: var(--fonts-xs);
	color: var(--color-text-high);
	text-decoration: none;
	padding: var(--s-1) var(--s-2);
	border-radius: var(--rounded-xs);
	transition:
		background-color 0.15s,
		color 0.15s;

	&:hover {
		color: var(--color-text);
		background-color: var(--color-bg-higher);
	}

	&[aria-current="page"] {
		color: var(--color-text);
		background-color: var(--color-bg-higher);
		font-weight: 600;
	}
}

@media (max-width: 800px) {
	.sideNav {
		display: none;
	}
}
