.sideNav {
	--side-nav-width: 200px;
	background-color: var(--color-bg-high);
	min-width: var(--side-nav-width);
	max-width: var(--side-nav-width);
	border: 1.5px solid var(--color-border);
	border-radius: var(--rounded);
	overflow: hidden;
}

.sideNavInner {
	--available-height: calc(100vh - var(--sticky-top) - var(--s-3-5));
	--gap-space: calc((var(--side-nav-count, 1) - 1) * var(--s-2));
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	padding: var(--s-1-5);
	padding-block-end: var(--s-2);
	overflow-y: auto;
	max-height: calc(
		(var(--available-height) - var(--gap-space)) /
		var(--side-nav-count, 1)
	);
	border-radius: calc(var(--rounded) - var(--s-1-5));
}

.sideNavHeader {
	color: var(--color-text-high);
	padding: var(--s-2-5) var(--s-2);
	margin: calc(-1 * var(--s-1-5));
	margin-block-end: 0;
	background-color: var(--color-border);
}

.sideNavHeader h2 {
	font-size: var(--fonts-xxs);
	font-weight: var(--bold);
}

.sideNavLink {
	font-size: var(--fonts-xs);
	color: var(--color-text-high);
	text-decoration: none;
	padding: var(--s-1) var(--s-2);
	border-radius: var(--rounded-xs);
	transition:
		background-color 0.15s,
		color 0.15s;

	&:hover {
		color: var(--color-text);
		background-color: var(--color-bg-higher);
	}

	&[aria-current="page"] {
		color: var(--color-text);
		background-color: var(--color-bg-higher);
		font-weight: 600;
	}
}
