.container {
	position: relative;
	width: 100%;
	overflow: auto;
}

.table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	font-size: var(--font-xs);
	text-align: left;
	border-color: var(--color-border);

	& > thead {
		font-size: var(--font-2xs);
	}

	& tbody tr:hover {
		background-color: var(--color-bg-high);
	}

	& > thead > tr > th {
		padding: var(--s-2);
	}

	& > tbody > tr > td {
		padding: var(--s-2) var(--s-2-5);
	}

	& tr:first-child td {
		border-top: 1px solid var(--color-border);
	}

	& td {
		border-bottom: 1px solid var(--color-border);
	}
}
