/** xxx: maybe cleaner way to do this */
.selectWidthWider {
	--select-width: 250px;
}

.item {
	display: flex;
	gap: var(--s-2);
	align-items: center;
}

.weaponImg {
	min-width: 24px;
}

.weaponLabel {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 0;
}

.categoryHeading {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	font-weight: bold;
	color: var(--text-lighter);
	text-transform: uppercase;
	font-size: var(--fonts-xxs);
	padding-block-start: var(--s-2-5);
	padding-block-end: var(--s-1);
	padding-inline: var(--s-1-5);
	white-space: nowrap;
}

.categoryDivider {
	background-color: var(--border);
	width: 100%;
	height: 2px;
	margin-block: var(--s-2);
}

.categoryHeading img {
	border-radius: 100%;
	background-color: var(--bg-lightest);
	padding: var(--s-1);
	min-width: 28px;
}
