.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--s-6);
}

.tierList {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	margin-bottom: var(--s-6);
}

.filters {
	display: flex;
	gap: var(--s-4);
}
