.widget {
	background-color: var(--bg);
	border-radius: var(--rounded);
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header {
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 0;
	padding-block: var(--s-2);
	border-bottom: 2px solid var(--bg-lightest);
	color: var(--text-lighter);
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	padding-block: var(--s-4);
}

.memberships {
	display: flex;
	flex-direction: column;
	gap: var(--s-3);
}

.membership {
	display: flex;
	align-items: center;
	gap: var(--s-2-5);
	color: var(--text);
	margin-block-end: var(--s-1);
	border-radius: var(--rounded-sm);
	transition: background-color 0.2s;
}

.membershipInfo {
	display: flex;
	flex-direction: column;
	gap: var(--s-0-5);
}

.membershipName {
	font-weight: var(--semi-bold);
}

.membershipRole {
	font-size: var(--fonts-xxs);
	color: var(--text-lighter);
}

.peakValue {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--s-1);
}

.peakValueMain {
	font-size: var(--fonts-xl);
	font-weight: var(--semi-bold);
	color: var(--text);
}

.peakValueFooter {
	font-size: var(--fonts-xxs);
	font-weight: var(--semi-bold);
	color: var(--text-lighter);
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
