.hamburger.fab {
	display: grid;
	position: fixed;
	right: 27.5px;
	bottom: 105px;
	border-radius: 100%;
	width: 3.75rem;
	height: 3.75rem;
	backdrop-filter: var(--backdrop-filter);
	background-color: transparent;
	border-color: var(--theme-transparent);
}

.hamburger.fab svg {
	min-width: 2.25rem;
	max-width: 2.25rem;
	stroke-width: 2px;
}

@media screen and (min-width: 600px) {
	.hamburger.fab {
		display: none;
	}
}
