.popoverContainer {
	min-width: 300px;
	padding: 0;
	background-color: var(--color-bg);
}

.popoverContainer svg {
	width: 16px;
}

.noNotificationsContainer {
	min-height: 200px;
}

.topContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: var(--s-3);
	padding-block: var(--s-1);
}

.header {
	display: flex;
	align-items: center;
	font-size: var(--font-sm);
	gap: var(--s-1);
}

.refreshButton svg {
	width: 14px;
	height: 14px;
}

.noNotifications {
	display: grid;
	place-items: center;
	font-weight: var(--weight-semi);
	color: var(--color-text-high);
	margin-block-start: 65px;
}

.divider {
	border-color: var(--color-border);
}
