.container {
	position: relative;
}

.popoverContainer {
	min-width: 300px;
	padding: 0;
}

.popoverContainer svg {
	width: 16px;
}

.noNotificationsContainer {
	min-height: 200px;
}

.header {
	display: flex;
	font-size: var(--fonts-sm);
	padding-inline: var(--s-1);
	padding-bottom: var(--s-1);
	gap: var(--s-1);
}

.noNotifications {
	display: grid;
	place-items: center;
	font-weight: var(--semi-bold);
	color: var(--text-lighter);
	margin-block-start: 65px;
}

.divider {
	border-color: var(--border);
}

.unseenDot {
	background-color: var(--theme);
	border-radius: 100%;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 1px;
	left: 1px;
	outline: 2px solid var(--theme-transparent);
}
