.userItem {
	outline-offset: 1px;
	border-radius: 100%;
}

.userItem:focus-visible {
	outline: var(--input-focus-ring);
}

.avatar {
	width: var(--input-height-small);
	height: var(--input-height-small);
	color: transparent;
}

.logInButton {
	display: flex;
	height: var(--input-height-small);
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border: 2px solid;
	border-color: var(--color-text-accent);
	border-radius: var(--rounded);
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	font-size: var(--fonts-xs);
	font-weight: var(--bold);
	gap: var(--s-2);
	text-decoration: none;
}

.logInButton > svg {
	width: 1rem;
}

.logInButton:active {
	transform: translateY(1px);
}
