.group {
	background-color: var(--bg-lighter-solid);
	width: 100%;
	border-radius: var(--rounded);
	padding: var(--s-2-5);
	display: flex;
	flex-direction: column;
	gap: var(--s-4);
	position: relative;
	color: var(--text);
}

.member {
	display: flex;
	gap: var(--s-2);
	align-items: center;
	background-color: var(--bg-darker);
	border-radius: var(--rounded);
	font-size: var(--fonts-xsm);
	font-weight: var(--semi-bold);
	padding-inline-end: var(--s-2-5);
}

.name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 7.5rem;
	font-size: var(--fonts-xs);
	color: var(--text);
}

.avatar {
	min-width: 36px;
}

.extraInfo {
	font-size: var(--fonts-xs);
	background-color: var(--bg-darker);
	border-radius: var(--rounded);
	padding: var(--s-0-5) var(--s-1-5);
	width: max-content;
	display: flex;
	align-items: center;
	gap: var(--s-1);
	font-weight: var(--semi-bold);
	min-height: 24px;
}

.extraInfoButton {
	font-size: var(--fonts-xs);
	background-color: var(--bg-darker);
	border-radius: var(--rounded);
	padding: var(--s-0-5) var(--s-1-5);
	width: max-content;
	display: flex;
	align-items: center;
	gap: var(--s-1);
	font-weight: var(--semi-bold);
	color: var(--text);
	border: none;
	min-height: 24px;
}

.noteTextarea {
	height: 4rem !important;
}

.vcIcon {
	height: 15px;
	stroke-width: 2;
}

.star {
	min-width: 18px;
	max-width: 18px;
	color: var(--theme-secondary);
	stroke-width: 2;
}

.starInactive {
	color: var(--text-lighter);
}

.teamHeader {
	display: flex;
	align-items: center;
	gap: var(--s-2);
}

.teamName {
	font-size: var(--fonts-xxs);
	font-weight: var(--semi-bold);
}
