.inkGridContainer {
	overflow: auto;
	min-width: min(100vw, 1100px);
}

.inkGrid {
	display: grid;
	grid-template-columns: repeat(41, 1fr);
}

.inkGridHorizontalAbility {
	grid-column: span 41;
	display: grid;
	place-items: center;
	padding-block-end: var(--s-2);
}

.inkGridAp {
	display: grid;
	place-items: center;
	font-weight: var(--weight-semi);
	font-size: var(--font-xs);
}

.inkGridApFocused {
	color: var(--color-accent);
	font-weight: var(--weight-bold);
	text-decoration: underline;
}

.inkGridCell {
	width: 25px;
	font-size: var(--font-xs);
	display: grid;
	place-items: center;
	background-color: var(--cell-color);
	cursor: help;
}
