.mainContent {
	display: flex;
	flex-direction: column;
	gap: var(--s-6);
}

.badgesLink {
	color: var(--color-text-high);
	font-size: var(--font-xs);
}

.trophiesListContainer {
	display: flex;
	flex-direction: column;
	gap: var(--s-4);
}

.trophiesList {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	justify-content: center;
	gap: var(--s-2);
}

.trophy {
	border: var(--border-width) solid var(--tier-bg);
	border-radius: var(--radius-field);
	background-color: var(--color-bg-high);
}

.placeholder {
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
}

.trophyDetailsContainer {
	border: var(--border-style);
	border-radius: var(--radius-box);
	overflow: clip;
}

@container (width < 560px) {
	.trophyDetails {
		height: 512px;
	}
}

.divider {
	margin-top: var(--s-1);
}

.trophyName {
	font-weight: var(--weight-bold);
	font-size: var(--font-lg);
}

.trophyMeta {
	color: var(--color-text-high);
	font-size: var(--font-2xs);
}

.owners {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	font-size: var(--font-sm);
	gap: var(--s-2);

	& > li {
		display: flex;
		align-items: center;
		gap: var(--s-1);
		list-style: none;
		border-right: var(--border-style);
		padding-right: var(--s-2);
	}
}

.tournamentHistory {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	gap: var(--s-1);

	& > li {
		list-style: none;
	}
}

.tournamentHistoryEntry {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	padding: var(--s-1-5);
	border-radius: var(--radius-field);

	&:hover {
		background-color: var(--color-bg-high);
	}
}

.tournamentHistoryLogo {
	border-radius: 50%;
	flex-shrink: 0;
}

.tournamentHistoryName {
	font-size: var(--font-sm);
	font-weight: var(--weight-semi);
	display: flex;
	align-items: center;
	gap: 0 var(--s-2);
	flex-wrap: wrap;
}

.tournamentHistoryMeta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--s-2);
	color: var(--color-text-high);
	font-size: var(--font-2xs);
}

.tournamentHistoryMetaItem {
	display: flex;
	align-items: center;
	gap: var(--s-1);
}

.tournamentHistoryIcon {
	width: 12px;
	height: 12px;
}

.ownerCount {
	color: var(--color-text-high);
	font-size: var(--font-2xs);
}
