.calendar {
	display: grid;
	grid-template-columns: repeat(7, max-content);
	gap: var(--s-2);
	--cell-size: 55px;
	overflow-x: auto;
}

.calendarContainer {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	height: max-content;
	overflow-x: visible;
}

.calendarDayHeader {
	font-size: var(--fonts-md);
	font-weight: var(--semi-bold);
}

.calendarDay {
	width: var(--cell-size);
	height: var(--cell-size);
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	background-color: var(--color-bg-high);
	padding: var(--s-1) var(--s-2);
	position: relative;
	display: grid;
	place-items: center;
}

.calendarDayDate {
	position: absolute;
	top: 1px;
	left: 6px;
}

.calendarDayLogo {
	position: absolute;
	border-radius: var(--rounded);
	top: 18px;
	left: 18px;
}

.calendarDayManyEvents {
	position: absolute;
	border-radius: var(--rounded);
	top: 18px;
	left: 18px;
	width: 32px;
	height: 32px;
	border: 2px solid var(--color-border);
	display: grid;
	place-items: center;
	font-size: var(--fonts-md);
	background-color: var(--color-bg-higher);
}

.calendarDayToday {
	color: var(--color-accent);
	font-weight: var(--bold);
}

.calendarDayPrevious {
	background-color: var(--color-bg);
}

.calendarMonthSelector {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--s-2);
	font-weight: var(--bold);
}

.calendarMonthSelector a {
	font-size: var(--fonts-xl);
}

.calendarMonthSelector > div {
	font-size: var(--fonts-lg);
	margin-block-start: var(--s-1);
}

.sectionDivider {
	font-size: var(--fonts-md);
	font-weight: var(--bold);
	color: var(--color-text-high);
	border-bottom: 2px solid var(--color-border);
	width: 100%;
	padding-block: var(--s-1);
}

.eventsContainer {
	display: flex;
	flex-direction: column;
	gap: var(--s-16);
}

@media screen and (min-width: 768px) {
	.eventsContainer {
		flex-direction: row;
		gap: var(--s-8);
		overflow-x: initial;
	}

	.calendarContainer {
		position: sticky;
		top: 47px;
	}
}

.eventInfo {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	font-weight: var(--semi-bold);
	color: var(--color-text);
	width: max-content;
}

.eventInfo img {
	border-radius: 100%;
}

.eventInfoTime {
	display: block;
	color: var(--color-text-high);
	font-size: var(--fonts-sm);
}

.leaderboardList {
	display: flex;
	gap: var(--s-4);
	flex-direction: column;
}

.leaderboardList li::marker {
	font-size: var(--fonts-lg);
	font-weight: var(--bold);
	color: var(--color-accent);
	padding-inline-end: var(--s-2);
}

.leaderboardListRow {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	padding-inline-start: var(--s-2-5);
}

.socialLink {
	font-size: var(--fonts-sm);
	color: var(--text-main);
	display: flex;
	gap: var(--s-2);
	align-items: center;
	max-width: max-content;
}

.socialLink svg {
	width: 18px;
}

.socialLinkIconContainer {
	background-color: var(--color-bg-higher);
	display: grid;
	place-items: center;
	border-radius: var(--rounded);
	padding: var(--s-2);
}

.socialLinkTwitch svg {
	fill: #9146ff;
}

.socialLinkYoutube svg {
	fill: #f00;
}

.socialLinkBsky path {
	fill: #1285fe;
}
