html {
	/** xxx: light mose theming tokens */

	--fonts-xl: 1.5rem;
	--fonts-lg: 1.2rem;
	--fonts-md: 1rem;
	--fonts-sm: 0.92rem;
	--fonts-xsm: 0.85rem;
	--fonts-xs: 0.8rem;
	--fonts-xxsm: 0.75rem;
	--fonts-xxs: 0.7rem;
	--fonts-xxxs: 0.6rem;
	--fonts-xxxxs: 0.5rem;
	--extra-bold: 700;
	--bold: 600;
	--semi-bold: 500;
	--body: 400;
	--s-0-5: 0.125rem;
	--s-1: 0.25rem;
	--s-1-5: 0.375rem;
	--s-2: 0.5rem;
	--s-2-5: 0.625rem;
	--s-3: 0.75rem;
	--s-3-5: 0.875rem;
	--s-4: 1rem;
	--s-5: 1.25rem;
	--s-6: 1.5rem;
	--s-7: 1.75rem;
	--s-8: 2rem;
	--s-9: 2.25rem;
	--s-10: 2.5rem;
	--s-11: 2.75rem;
	--s-12: 3rem;
	--s-14: 3.5rem;
	--s-16: 4rem;
	--s-20: 5rem;
	--s-24: 6rem;
	--s-28: 7rem;
	--s-32: 8rem;
	--s-40: 10rem;
	--s-48: 12rem;
	--s-56: 14rem;
	--s-64: 16rem;
	--s-72: 18rem;
	--s-80: 20rem;
	--s-96: 2rem;
	--border-style: var(--border) solid var(--color-base-border);

	--layout-nav-height: 3rem;
	--field-width-medium: 18rem;
}

html.dark {
	--color-base-bg: oklch(0.133 0.0673 272.37); /** color-base-200 */
	--color-base-section: oklch(0.201 0.0699 284.33);
	--color-base-card: oklch(0.3303 0.0921 288.85); /** color-base-100 */
	--color-base-card-section: oklch(0.23 0.07 292.19 / 1); /** xxx: rename to color-base-input ? */
	--color-base-card-transparent: oklch(0.3303 0.0921 288.85 / 0.3);
	--color-base-border: oklch(0.2908 0.0699 292.19); /** color-base-300 */
	--color-base-content: oklch(98% 0.002 247.839);
	--color-base-content-secondary: oklch(0.7552 0.0556 286.16);
	--color-base-backdrop: oklch(13.232% 0.06693 272.495 / 0.8);
	--color-primary: oklch(0.8839 0.0714 351.57);
	--color-primary-transparent: oklch(0.8839 0.0714 351.57 / 0.3);
	--color-primary-content: oklch(21% 0.006 56.043);
	--color-secondary: oklch(0.8839 0.1059 89.24);
	--color-info: oklch(0.8839 0.0714 209.94);
	--color-info-transparent: oklch(0.8839 0.0714 209.94 / 0.3);
	--color-success: oklch(0.8839 0.0714 146.57);
	--color-success-transparent: oklch(0.8839 0.0714 146.57 / 0.3);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-transparent: oklch(82% 0.189 84.429 / 0.3);
	--color-error: oklch(0.6897 0.2541 22.24);
	--color-error-transparent: oklch(0.6897 0.2541 22.24 / 0.3);
	/** checkbox, toggle, badge, button, input, select, tab */
	--radius-field: 0.5rem;
	/** card, modal, alert */
	--radius-box: 1rem;
	--size-selector: 0.25rem; /** xxx: not used anywhere yet */
	--size-field: 0.25rem; /** xxx: not used anywhere yet */
	--border: 1.5px;

	--chart-heading: var(--color-base-content);
	--chart-text: var(--color-base-content-secondary);
	--chart-line: var(--color-primary);
	--chart-line-2: oklch(from var(--color-primary) l c calc(h - 100));
	--chart-line-3: oklch(from var(--color-primary) l c calc(h - 200));
	--chart-bg: var(--color-base-bg);
	--chart-border: var(--color-base-border);
	--chart-grid: color-mix(in oklch, var(--color-base-border), var(--chart-bg) 50%);
}

/* xs: "(min-width: 480px)",
  sm: "(min-width: 640px)",
  md: "(min-width: 768px)",
  lg: "(min-width: 1024px)",
  xl: "(min-width: 1280px)", */
