.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--s-4);
}

.weaponName {
	margin: 0;
	font-size: var(--fonts-2xl);
}

.links {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-2);
	justify-content: center;
}

.dataCredit {
	font-size: var(--font-2xs);
	color: var(--color-text-high);
}
