.summary {
	padding: var(--s-3);
	border-radius: var(--rounded);
	background-color: var(--color-bg-high);
	font-size: var(--fonts-lg);
	font-weight: var(--bold);
}

.details {
	margin-inline: var(--s-4);
	padding-block: var(--s-3);
	white-space: pre-line;
}
