.card {
	border: var(--border-style);
	border-radius: var(--rounded-xs);
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	padding: var(--s-2) var(--s-3);
	background-color: var(--color-bg-high);
	border-bottom: var(--border-style);
	border-radius: var(--rounded-xs) var(--rounded-xs) 0 0;
}

.dragHandle {
	width: var(--s-5);
	height: var(--s-5);
	cursor: grab;
	color: var(--color-text-high);
}

.headerLabel {
	flex: 1;
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
}

.content {
	padding: var(--s-4);
	display: flex;
	flex-direction: column;
	gap: var(--s-4);
}

.itemInput {
	flex: 1;
}
