.list {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	padding: 0;
	margin: 0;
	margin-block-start: var(--s-2);
	list-style: none;
}

.item {
	display: flex;
	align-items: center;
	gap: var(--s-3);
	padding: var(--s-2) var(--s-3);
	border: 1px solid var(--border);
	border-radius: var(--rounded);
	background-color: var(--bg-lighter);
	transition: opacity 0.2s;
}

.item.isDragging {
	opacity: 0.5;
}

.dragHandle {
	cursor: grab;
	user-select: none;
	color: var(--text-lighter);
	font-size: var(--fonts-md);
	touch-action: none;
	background: none;
	border: none;
	padding: 0;
}

.dragHandle:active {
	cursor: grabbing;
}

.weaponName {
	text-transform: uppercase;
	font-weight: var(--semi-bold);
	color: var(--text-lighter);
	font-size: var(--fonts-xxs);
	max-width: 7rem;
	min-width: 7rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actions {
	display: flex;
	gap: var(--s-1);
	margin-left: auto;
}

.starIconOutlined {
	color: var(--theme-secondary);
}

.starIconFilled {
	fill: var(--theme-secondary);
}
