.finalize {
	font-size: var(--fonts-sm);
	margin-block-end: var(--s-4);
	display: flex;
	gap: var(--s-1);
	flex-wrap: wrap;
	justify-content: center;
}

.startBracketAlert {
	line-height: 1.4;
}

.miniAlert {
	background-color: var(--color-info-low);
	font-size: var(--fonts-xxs);
	border-radius: var(--rounded);
	padding: var(--s-1) var(--s-2);
}

.infos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--s-3);
	background: var(--color-bg-high);
	border-end-end-radius: var(--rounded);
	border-end-start-radius: var(--rounded);
	color: var(--tournaments-text);
	column-gap: var(--s-8);
	font-size: var(--fonts-xsm);
	letter-spacing: 0.3px;
}

.infosValue > button {
	font-size: var(--fonts-xxs);
}

.lockedBanner {
	width: 100%;
	height: 10rem;
	background-color: var(--color-bg-high);
	border-start-end-radius: var(--rounded);
	border-start-start-radius: var(--rounded);
	grid-area: img;
	display: grid;
	place-items: center;
	position: relative;
	padding-inline: var(--s-2);
}

.lockedBannerLonely {
	border-radius: var(--rounded);
}

.stageBanner {
	display: flex;
	width: 100%;
	height: 10rem;
	flex-direction: column;
	justify-content: space-between;
	background-image: var(--_tournament-bg-url);
	background-position: center;
	border-start-end-radius: var(--rounded);
	border-start-start-radius: var(--rounded);
	grid-area: img;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.stageBannerTopBar {
	display: flex;
	justify-content: space-between;
	padding: var(--s-2);
	backdrop-filter: blur(10px) brightness(95%);
	background: rgb(0 0 0 / 40%);
	border-start-end-radius: var(--rounded);
	border-start-start-radius: var(--rounded);
	font-size: var(--fonts-xs);
	color: #fff;
}

.stageBannerBottomBar {
	display: flex;
	justify-content: flex-end;
	padding: var(--s-2);
}

.stageBannerUndoButton {
	position: absolute;
	right: 8px;
	bottom: 8px;
}

.stageBannerEndSetButton {
	right: 8px;
	bottom: 8px;
}

.stageBanner:has(.stageBannerEndSetButton)
	.stageBannerUndoButton:not(.stageBannerEndSetButton) {
	right: 72px;
}

.deadlinePopover {
	position: absolute;
	left: 8px;
	bottom: 8px;
	display: flex;
	align-items: center;
	gap: var(--s-1);
}

.deadlinePopoverTrigger {
	margin-block-start: 0;
	background-color: var(--color-bg-higher) !important;
}

.deadlineIndicator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--input-height-smaller);
	height: var(--input-height-smaller);
	border-radius: 50%;
	font-weight: bold;
	font-size: var(--fonts-sm);
}

.deadlineIndicatorWarning {
	background-color: var(--color-warning);
	color: var(--color-text-inverse);
}

.deadlineIndicatorError {
	background-color: var(--color-error);
	color: var(--color-text-inverse);
}

.stageBannerTopBarHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--s-2);
}

.stageBannerTopBarMapTextBig {
	display: none;
}

@media screen and (min-width: 480px) {
	.stageBannerTopBar {
		font-size: initial;
	}

	.stageBannerTopBarMapTextSmall {
		display: none;
	}

	.stageBannerTopBarMapTextBig {
		display: initial;
	}
}

.noScreen {
	display: flex;
	gap: var(--s-0-5);
}

.noScreen > svg {
	width: 24px;
	fill: var(--color-success);
}

.noScreenBanned > svg {
	fill: var(--color-error);
}

.duringMatchActions {
	display: grid;
	grid-template-areas:
		"img"
		"infos"
		"rosters";
	grid-template-columns: 1fr;
}

.duringMatchActionsActions {
	display: flex;
	justify-content: center;
	color: var(--color-warning);
	margin-block-start: var(--s-6);
}

.duringMatchActionsAmountWarningParagraph {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: var(--fonts-xs);
}

.duringMatchActionsRosters {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: var(--s-4);
	text-align: center;
}

.duringMatchActionsRadioContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rosterButtonsContainer {
	display: flex;
	gap: var(--s-4);
	align-items: center;
	justify-content: center;
	margin-block-start: var(--s-6);
	height: 30px;
}

.editRosterButton {
	font-style: italic;
}

.duringMatchActionsTeamPlayers {
	display: flex;
	width: 15rem;
	flex-direction: column;
	margin-top: var(--s-3);
	margin-inline: auto;
	gap: var(--s-2);
}

.duringMatchActionsCheckboxName {
	display: flex;
	align-items: center;
	flex: 1;
}

.duringMatchActionsCheckbox:not(#_) {
	background: none;
	all: unset;
	width: 40% !important;
	height: 1.5rem !important;
	appearance: none;
	background-color: var(--color-bg-higher);
	border-end-start-radius: var(--rounded);
	border-start-start-radius: var(--rounded);
	cursor: pointer;
	font-size: var(--fonts-xxs);
	font-weight: var(--bold);
	letter-spacing: 0.4px;
	z-index: 1;

	&::after {
		all: unset;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: var(--color-text-high);
		content: "Inactive";
		padding-block-end: 1px;
	}

	&:checked {
		background-color: var(--color-text-accent);

		&::after {
			display: flex;
			color: var(--color-text-inverse);
			content: "Playing";
		}
	}

	&:disabled {
		pointer-events: none;
		cursor: not-allowed;
		opacity: 0.5;
		outline: none;
	}

	&:focus-within {
		outline: none;
	}

	&:focus-visible {
		outline: var(--input-focus-ring);
		outline-offset: 1px;
	}
}

.duringMatchActionsPlayerName {
	display: flex;
	width: 60%;
	height: 1.5rem;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: var(--color-bg);
	border-end-end-radius: var(--rounded);
	border-start-end-radius: var(--rounded);
	overflow-x: hidden;
	text-overflow: ellipsis;
	user-select: none;
	cursor: pointer;
	flex: 1;
}

.duringMatchActionsPlayerNameInner {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	padding-inline: var(--s-2);
	max-width: 150px;
}

.duringMatchActionsSeed {
	font-size: var(--fonts-xxs);
	color: var(--color-text-accent);
}

.duringMatchActionsTeamName {
	color: var(--color-text);
	font-weight: var(--bold);
}

.rosters {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-8);
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	flex-direction: column;
}

.rosters ul {
	padding: 0;
	list-style: none;
}

.rostersSpacedHeader {
	min-height: 45px;
	display: flex;
	align-items: center;
}

.inactivePlayer {
	color: var(--color-text-high);
	text-decoration: line-through;
}

@media screen and (min-width: 640px) {
	.rosters {
		justify-content: space-evenly;
		flex-direction: row;
	}
}

.modeProgress {
	display: block;
	text-align: center;
	overflow-x: auto;
	padding: 2px;
	margin-bottom: var(--s-1-5);
}

.modeProgressInner {
	display: inline-flex;
	gap: var(--s-4);
	justify-content: flex-start;
}

.modeProgressImage {
	background-color: var(--color-bg-high);
	border-radius: 100%;
	padding: var(--s-2-5);
	outline: 2px solid var(--color-bg-higher);
	min-width: 40px;
}

.modeProgressImage > svg {
	width: 20px;
	height: 20px;
}

.modeProgressImageNotable {
	background-color: var(--color-bg-higher);
	border: none;
	outline: 2px solid transparent;
}

.modeProgressImageTeamOneWin {
	outline: 2px solid var(--color-info);
}

.modeProgressImageTeamTwoWin {
	outline: 2px solid var(--color-error);
}

.modeProgressImageSelected {
	background-color: var(--color-bg-high);
}

.modeProgressImageBanned {
	outline: 2px solid var(--color-error);
	background-color: var(--color-bg-high);
}

.modeProgressImageBanned > img {
	filter: grayscale(100%);
}

.modeProgressImageBannedPopoverTrigger:focus-visible {
	outline: none !important;
}

.teamOneDot {
	border-radius: 100%;
	background-color: var(--color-info);
	width: 8px;
	height: 8px;
}

.teamTwoDot {
	border-radius: 100%;
	background-color: var(--color-error);
	width: 8px;
	height: 8px;
}

.pointsInput {
	--input-width: 4.5rem;
	padding: var(--s-3-5) var(--s-2) !important;
	font-size: var(--fonts-sm);
}

@media screen and (min-width: 480px) {
	.infos {
		flex-direction: row;
	}
}

.quickAction {
	font-size: var(--fonts-xs);
	color: var(--color-text);
	background-color: var(--color-bg);
	border-radius: var(--rounded);
	border: 2px solid var(--color-bg-higher);
	padding-block: var(--s-1-5);
	padding-inline: var(--s-2-5);
	font-weight: var(--bold);
	align-items: center;
}

.quickActionSpaced {
	display: flex;
	gap: var(--s-1-5);
}

.quickActionVerySpaced {
	display: flex;
	gap: var(--s-3);
}

.quickActionCheckmark {
	color: var(--color-success);
}

.compactifyButton {
	font-size: var(--fonts-xxs);
	color: var(--color-text-high);
	border-color: var(--color-bg-higher);
	background-color: var(--color-bg);
	border-radius: var(--rounded);
}

.castInfoContainer {
	display: flex;
	gap: var(--s-2);
	border-radius: var(--rounded);
	background-color: var(--color-bg-high);
	width: max-content;
}

.castInfoContainerLabel {
	padding: var(--s-2) var(--s-3-5);
	text-transform: uppercase;
	background-color: var(--color-bg-higher);
	border-radius: var(--rounded) 0 0 var(--rounded);
	font-weight: var(--bold);
	color: var(--color-text-high);
	display: grid;
	place-items: center;
	justify-content: center;
}

.castInfoContainerContent {
	padding-block: var(--s-2);
	display: flex;
	align-items: center;
}

.streamPopover {
	width: 280px;
}

.actionSectionWrapper [class*="tabPanel"] {
	background-color: var(--color-bg-high);
	border-radius: 0 0 var(--rounded) var(--rounded);
	padding: var(--s-4);
}

.actionSectionWrapper [class*="tabPanel"]:has([class*="chatContainer"]) {
	padding: var(--s-1) var(--s-3-5);
}
