.imageWrapper img {
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.modeOverlay {
	position: absolute;
	bottom: 2px;
	right: 2px;
	background-color: var(--bg-lighter-solid);
	border-radius: 100%;
	padding: var(--s-1);
}
