.controls {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.selects {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-5);
}

.selectsWeapon {
	width: 16rem;
}

.ability {
	position: absolute;
}

.apLabel {
	display: flex;
	justify-content: center;
	gap: var(--s-1-5);
}

.grid {
	column-gap: var(--s-2);
	display: grid;
	max-height: 60vh;
	overflow: auto;
	row-gap: var(--s-2);
	width: 100%;
}

@media screen and (min-width: 431px) {
	.grid {
		max-height: 70vh;
	}
}

.hp {
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
}

.tableHeader {
	align-items: center;
	background-color: var(--color-bg-higher);
	border-radius: var(--radius-box);
	display: flex;
	flex-direction: column;
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	gap: var(--s-1);
	height: 100%;
	left: 0;
	outline: 5px solid var(--color-bg);
	padding-block: var(--s-2);
	padding-inline: var(--s-2);
	position: sticky;
	text-align: center;
	top: 0;
	white-space: nowrap;
	width: 100%;
}

.weaponImage {
	min-width: 24px;
}

.distance {
	color: var(--color-text-high);
	font-size: var(--fonts-xxs);
	margin-block-start: var(--s-0-5);
}

.receiverButton {
	all: unset;
	cursor: pointer;
	border-radius: var(--radius-box);
}

.receiverButton:focus-visible {
	outline: var(--field-focus-ring);
	outline-offset: 1px;
}

.receiverImage {
	padding: var(--s-2);
	border-radius: var(--radius-box);
	background-color: var(--color-bg);
}

.tableCard {
	display: grid;
	width: 100%;
	height: 100%;
	padding: var(--s-2);
	border-radius: var(--radius-box);
	background-color: var(--color-bg-high);
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	place-items: center;
}

.tableCardResults {
	display: grid;
	column-gap: var(--s-2);
	grid-template-columns: 1fr 1fr;
	padding-inline: var(--s-2);
}

.abbr {
	color: var(--color-text-high);
	font-weight: var(--bold);
	text-decoration: none;
}

.multiplier {
	color: var(--color-text-accent);
	font-size: var(--fonts-xxs);
	font-weight: var(--bold);
	letter-spacing: 0.5px;
	margin-block-start: var(--s-2);
}

.bottomContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.patch {
	border-radius: var(--radius-box);
	background-color: var(--color-accent-low);
	color: var(--color-accent-high);
	font-size: var(--fonts-xxxs);
	font-weight: var(--bold);
	padding-block: var(--s-0-5);
	padding-inline: var(--s-2);
}
