.button {
	display: flex;
	width: auto;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--color-accent);
	border-radius: var(--rounded-sm);
	appearance: none;
	background: var(--color-accent);
	color: var(--color-text-inverse);
	cursor: pointer;
	font-size: var(--fonts-sm);
	font-weight: var(--bold);
	line-height: 1.2;
	outline-offset: 2px;
	padding-block: var(--s-1-5);
	padding-inline: var(--s-2-5);
	user-select: none;
}

.button[data-focus-visible],
.button:focus-visible {
	outline: 2px solid var(--color-accent);
}

.button[data-pressed],
.button:active {
	transform: translateY(1px);
}

.button[data-disabled],
.button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
	transform: initial;
}

.outlined {
	background-color: var(--color-accent-low);
	color: var(--color-accent);
}

.outlinedSuccess {
	border-color: var(--color-success);
	background-color: transparent;
	color: var(--color-success);
}

.small {
	font-size: var(--fonts-xs);
	padding-block: var(--s-1);
	padding-inline: var(--s-2);
}

.miniscule {
	font-size: var(--fonts-xxs);
	padding-block: var(--s-1);
	padding-inline: var(--s-2);
}

.big {
	font-size: var(--fonts-md);
	padding-block: var(--s-2-5);
	padding-inline: var(--s-6);
}

.minimal {
	padding: 0;
	border: none;
	background-color: transparent;
	color: var(--color-accent);
	outline: initial;
}

.minimal[data-focus-visible] {
	outline: 2px solid var(--color-accent);
}

.minimalSuccess {
	padding: 0;
	border: none;
	background-color: transparent;
	color: var(--color-success);
}

.success {
	border-color: var(--color-success);
	background-color: var(--color-success);
	outline-color: var(--color-success);
}

.destructive {
	border-color: var(--color-error);
	background-color: transparent;
	color: var(--color-error);
	outline-color: var(--color-error);
}

.minimalDestructive {
	padding: 0;
	border: none;
	background-color: transparent;
	color: var(--color-error);
	outline-color: var(--color-error);
}

.buttonIcon {
	min-width: 1.25rem;
	max-width: 1.25rem;
	margin-inline-end: var(--s-1-5);
}

.buttonIcon.lonely {
	margin-inline-end: 0 !important;
}

.buttonIconSmall {
	min-width: 1rem;
	max-width: 1rem;
	margin-inline-end: var(--s-1);
}

.buttonIconMiniscule {
	min-width: 0.857rem;
	max-width: 0.857rem;
	margin-inline-end: var(--s-1);
}
