.group {
	height: var(--field-size);
	padding: 0 var(--field-padding);
	border: var(--border-style);
	border-radius: var(--radius-field);
	background-color: var(--color-bg);
	outline: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--s-1-5);
	width: 100%;
	cursor: pointer;
}

.root[data-open] .group {
	border-color: transparent;
	outline: var(--field-focus-ring);
}

.dateInput {
	display: flex;
}

.segment:not([data-type="literal"]) {
	padding: 0 var(--s-1);
	border-radius: 5px;
}

.segment:focus-visible {
	background-color: var(--color-bg-high);
	color: var(--color-text-accent);
	outline: none;
}

.button {
	padding: 0;
	margin-inline-start: auto;
	background-color: transparent;
	border: none;
	outline: none;
}

.icon {
	color: var(--color-text-high);
	width: var(--field-icon-width);
	height: var(--field-icon-width);
}
