.group {
	height: var(--field-height);
	padding: 0 var(--field-padding-inline);
	border: var(--border-style);
	border-radius: var(--rounded-sm);
	background-color: var(--color-bg);
	outline: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--s-1-5);
	width: 100%;
	cursor: pointer;
}

.root[data-open] .group {
	border-color: transparent;
	outline: var(--field-focus-ring);
}

.dateInput {
	display: flex;
}

.segment:not([data-type="literal"]) {
	padding: 0 var(--s-1);
	border-radius: 5px;
}

.segment:focus-visible {
	background-color: var(--color-bg-high);
	color: var(--color-text-accent);
	outline: none;
}

.button {
	margin-inline-start: auto;
	background-color: transparent;
	border: none;
	outline: none;
}

.icon {
	fill: var(--color-text-high);
	width: 17.5px;
}
