.modal {
	--dialog-padding-block: var(--s-6);

	width: calc(100% - 2rem);
	max-width: 28rem;
	inset-block-start: var(--visual-viewport-offset-top, 0px);
	inset-block-end: calc(
		100% -
		var(--visual-viewport-offset-top, 0px) -
		var(--visual-viewport-height, 100%)
	);
	max-height: calc(
		var(--visual-viewport-height, 100dvh) -
		2 *
		var(--modal-margin-block)
	);
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: contain;
	border-radius: 1rem;
	border: 1px solid var(--color-border);
	background-color: var(--color-bg);
	color: var(--color-text);
	padding: var(--dialog-padding-block) var(--s-6);
	text-align: left;
	vertical-align: middle;
	box-shadow:
		0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	margin: auto;
	outline: none;
	animation: zoom-in-95 300ms ease-out;

	@media (width < 600px) {
		--dialog-padding-block: var(--s-4);
	}
}

.blurredBackdrop::backdrop {
	background-color: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
	animation: fade-in 300ms ease-out;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fullScreenModal {
	width: 100%;
	min-width: 100%;
	height: 100dvh;
	max-height: 100dvh;
	inset-block: 0;
	border-radius: 0;
	margin: 0;
	padding-block-start: calc(env(safe-area-inset-top) + var(--s-6));
}

@keyframes zoom-in-95 {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.headingContainer {
	border-bottom: var(--border-style);
	padding-block-end: var(--s-2);
	margin-block-end: var(--s-4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block-start: -3px;
}

.noHeading {
	margin-block-start: calc(10px - var(--dialog-padding-block));
}

.heading {
	font-size: var(--font-lg);
}
