.button {
	height: 1rem;
	padding: var(--s-4) var(--s-3);
	border: 2px solid var(--color-border);
	border-radius: var(--rounded-sm);
	accent-color: var(--color-accent);
	background-color: var(--color-bg);
	color: var(--color-text);
	outline: none;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--s-1-5);
	min-width: var(--select-width);

	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	letter-spacing: 0.5px;
	cursor: pointer;
}

.button:hover {
	border-color: var(--color-border-high);
}

.button[data-focus-visible] {
	outline: 2px solid var(--color-accent);
}

.selectValue {
	max-width: calc(var(--select-width) - 55px);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.selectValue[data-placeholder] {
	color: var(--color-text-high);
}

.icon {
	min-width: 18px;
	max-width: 18px;
	stroke-width: 2.5px;
	color: var(--color-text-high);
}

.smallIcon {
	min-width: 16px;
	max-width: 16px;
	stroke-width: 2px;
	color: var(--color-text-high);
}

.popover {
	padding: var(--s-1);
	min-width: var(--select-width);
	max-width: var(--select-width);
	border: 2px solid var(--color-border);
	border-radius: var(--rounded);
	background-color: var(--color-bg);
	max-height: 250px !important;

	display: flex;
	flex-direction: column;
}

.listBox {
	overflow: auto;
	flex: 1;
}

.item {
	font-size: var(--fonts-xsm);
	font-weight: var(--semi-bold);
	padding: var(--s-1-5);
	border-radius: var(--rounded-sm);
	height: 33px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item[data-disabled] {
	color: var(--color-text-high);
	font-style: italic;
}

.itemFocused {
	background-color: var(--color-bg-high);
	color: var(--color-text);
}

.itemSelected {
	color: var(--color-text-accent);
	font-weight: var(--bold);
}

.searchField {
	display: flex;
	gap: var(--s-2);

	border: 2px solid var(--color-border);
	border-radius: var(--rounded-sm);
	accent-color: var(--color-accent);
	background-color: var(--color-bg);
	color: var(--color-text);
	outline: none;
	padding: var(--s-1-5) var(--s-2);
	margin-block-end: var(--s-1-5);
}

.searchInput {
	all: unset;
	font-size: var(--fonts-xxs);
	font-weight: var(--semi-bold);
	letter-spacing: 0.5px;
	flex: 1;
}

.searchInput::-webkit-search-cancel-button {
	display: none;
}

.searchInput::placeholder {
	color: var(--color-text-high);
}

.searchClearButton {
	background-color: transparent;
	border: none;
}

[data-empty] .searchClearButton {
	visibility: hidden;
}

.noResults {
	font-size: var(--fonts-md);
	font-weight: var(--bold);
	text-align: center;
	padding-block: var(--s-8);
	color: var(--color-text-high);
}

.select {
	position: relative;
}

.clearButton {
	position: absolute;
	bottom: -17px;
	right: 9px;
}

.categoryHeading {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	font-weight: bold;
	color: var(--color-text-high);
	text-transform: uppercase;
	font-size: var(--fonts-xxs);
	padding-block-start: var(--s-2-5);
	padding-block-end: var(--s-1);
	padding-inline: var(--s-1-5);
	white-space: nowrap;
}

.categoryDivider {
	background-color: var(--color-border);
	width: 100%;
	height: 2px;
	margin-block: var(--s-2);
}

.categoryHeading img {
	border-radius: 100%;
	background-color: var(--color-bg-higher);
	padding: var(--s-1);
	min-width: 28px;
}
