.tabList {
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid var(--color-border);
	overflow-x: visible;
}

.tabList svg {
	--icon-size: 16px;
	min-width: var(--icon-size);
	min-height: var(--icon-size);
	max-width: var(--icon-size);
	max-height: var(--icon-size);
	margin-inline-end: var(--s-1-5);
}

.tabButton img {
	margin-inline-end: var(--s-1-5);
}

.padded .tabPanel {
	padding-block-start: var(--s-4);
}

.disappearing:has(.tabList .tabButton:only-child).padded .tabPanel {
	padding-top: 0;
}

.disappearing .tabList:has(.tabButton:only-child) {
	display: none;
}

.tabButton {
	background-color: transparent;
	border: none;
	font-size: var(--fonts-xs);
	border-radius: 0;
	border-bottom: 2px solid transparent;
	color: var(--color-text-high);
	white-space: nowrap;
	flex: 1;
	transform: none !important;
	margin-bottom: -2px;
}

.tabButton[data-selected] {
	border-color: var(--color-text-accent);
	color: var(--color-text);
}

.tabButton[data-focus-visible] {
	color: var(--color-accent) !important;
	outline: none;
}

.tabNumber {
	color: var(--color-accent);
	margin-inline-start: var(--s-2);
}

.sticky {
	position: sticky;
	top: 47px;
	z-index: 1;
	background-color: var(--color-bg);
}
