.item {
	font-size: var(--font-sm);
	font-weight: var(--weight-semi);
	padding: var(--s-1-5);
	border-radius: var(--radius-field);
	height: 33px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: flex;
	align-items: center;
	gap: var(--s-2);
}

.popover {
	min-height: 250px;
}

.itemTextsContainer {
	line-height: 1.1;
}

.itemTextsContainer span {
	max-width: 175px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.selectValue {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	align-items: center;
	gap: var(--s-2);
}

button:disabled .selectValue {
	color: var(--color-text-high);
	font-style: italic;
}

.placeholder {
	font-size: var(--font-xs);
	font-weight: var(--weight-semi);
	color: var(--color-text-high);
	text-align: center;
	display: grid;
	place-items: center;
	height: 162px;
	margin-block: var(--s-4);
}

.itemAdditionalText {
	font-size: var(--font-xs);
	color: var(--color-text-high);
}

button .itemAdditionalText {
	display: none;
}

.logo {
	width: 24px;
	height: 24px;
	border-radius: var(--radius-field);
	object-fit: cover;
}
