.container {
	max-width: 38rem;
}

.poolSelector {
	padding-block: var(--s-3);
}

.tournamentMapListLink {
	font-size: var(--font-2xs);
	text-align: center;
}

.mapListCreator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--s-4);
}

.toggleContainer {
	--label-margin: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--s-2);
}

.mapList {
	font-size: var(--font-xs);
	font-weight: var(--weight-semi);
	margin-block-start: var(--s-4);
}

.modeAbbr {
	color: var(--color-text-high);
	font-weight: var(--weight-bold);
	text-decoration: none;
}
