.buttonsContainer {
	display: flex;
	justify-content: space-between;
	gap: var(--s-6);
	align-items: start;
	flex-wrap: wrap-reverse;
}

.navigateButtonsContainer {
	display: flex;
	gap: var(--s-4);
	width: 100%;
}

.navigateButton {
	all: unset;
	background-color: var(--color-bg-higher);
	border: var(--border-style);
	display: flex;
	align-items: center;
	gap: var(--s-2);
	font-weight: var(--bold);
	border-radius: var(--rounded-sm);
	padding: var(--s-1) var(--s-2);
	font-size: var(--fonts-xs);
	flex: 1 1 0;
}

.navigateButton:focus-visible {
	outline: var(--input-focus-ring);
}

@media screen and (min-width: 600px) {
	.navigateButton {
		flex: initial;
	}

	.navigateButtonsContainer {
		width: initial;
	}
}

.navigateButton:not(.navigateArrowButton) {
	justify-content: center;
}

.navigateButton svg {
	max-width: 1.75rem;
	min-width: 1.75rem;
	max-height: 1.75rem;
}

.navigateArrowButton svg {
	margin-inline-start: -5px;
}

.columnsContainer {
	display: grid;
	grid-template-columns: repeat(var(--columns-count), 225px);
	gap: var(--s-14);
	overflow-x: auto;
}

.dayHeader {
	border: var(--border-style);
	border-radius: var(--rounded-sm);
	background-color: var(--color-bg-high);
	padding: var(--s-2);
	text-align: center;
	font-size: var(--fonts-md);
	font-weight: var(--bold);
}

.dayHeaderToday {
	background-color: var(--color-bg-higher);
	border: var(--border-style-high);
}

.dayHeaderWeekday {
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	color: var(--color-text-high);
}

.dayEvents {
	margin-block-start: var(--s-4);
	display: flex;
	flex-direction: column;
	gap: var(--s-4);
}

.clockHeader {
	font-weight: var(--semi-bold);
	font-size: var(--fonts-sm);
}

.clockHeaderDivider {
	width: 100%;
	height: 3px;
	background-color: var(--color-bg-high);
	border-radius: var(--rounded);
}

.hiddenEventsButton svg {
	width: 1rem;
	height: 1rem;
}

.calendar {
	background-color: initial;
	padding: var(--s-2);
	border: none;
}
