.navigateButton {
	all: unset;
	background-color: var(--bg-lightest);
	border: 2px solid var(--border);
	display: flex;
	align-items: center;
	font-weight: var(--bold);
	border-radius: var(--rounded-sm);
	padding: var(--s-1) var(--s-2);
	font-size: var(--fonts-xs);
}

.navigateButton svg {
	width: 1.75rem;
	height: 1.75rem;
	stroke-width: 2px;
	margin-inline-start: -5px;
}
.majorLink {
	all: unset;
	background-color: orange;
	border: 2px solid darkorange;
	color: rgb(49, 49, 49);
	font-weight: var(--bold);
	border-radius: var(--rounded-sm);
	padding: var(--s-1) var(--s-2);
	font-size: var(--fonts-xs);
	position: relative;
}

.columnsContainer {
	display: grid;
	grid-template-columns: repeat(var(--columns-count), 225px);
	gap: var(--s-14);
	overflow-x: auto;
}

.dayHeader {
	border: 2px solid var(--border);
	border-radius: var(--rounded-sm);
	background-color: var(--bg-lighter);
	padding: var(--s-2);
	text-align: center;
	font-size: var(--fonts-md);
	font-weight: var(--bold);
}

.dayHeaderWeekday {
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	color: var(--text-lighter);
}

.dayEvents {
	margin-block-start: var(--s-4);
	display: flex;
	flex-direction: column;
	gap: var(--s-4);
}

.clockHeader {
	font-weight: var(--semi-bold);
	font-size: var(--fonts-sm);
}

.clockHeaderDivider {
	width: 100%;
	height: 3px;
	background-color: var(--theme-transparent);
	border-radius: var(--rounded);
}

.hiddenEventsButton svg {
	width: 1rem;
	height: 1rem;
	stroke-width: 2px;
}
