.eventsListHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: var(--s-2);
	margin-block-end: var(--s-2);
}

.filterRadioContainer {
	all: unset;
}

.filterRadio {
	display: flex;
	align-items: center;
	padding: 0 var(--s-2);
	height: var(--selector-size-sm);
	border-radius: var(--radius-selector);
	cursor: pointer;
	color: var(--color-text-high);
	font-weight: var(--weight-semi);
	font-size: var(--font-2xs);
}

.filterRadioSelected {
	background-color: var(--color-bg-higher);
	color: var(--color-text);
}
