.root {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	margin-inline: auto;
	width: max-content;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	justify-content: center;
	gap: var(--s-2);
	padding: var(--s-2);
	border: var(--border-style);
	border-radius: var(--radius-box);
}

.trophyButton {
	all: unset;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.placeholder {
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
}

.trophy {
	border: var(--border-width) solid var(--tier-bg);
	border-radius: var(--radius-field);
	background-color: var(--color-bg-high);
}

.modalContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--s-2);
}

.modalTrophy {
	width: 100%;
	max-width: 320px;
	border-radius: var(--radius-box);
	background-color: var(--color-bg-high);
}

.modalLink {
	font-size: var(--font-sm);
	font-weight: var(--weight-bold);
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-3);
	justify-content: center;
	align-items: center;
	max-width: 20rem;
	margin: 0 auto;
}

.paginationButton {
	background-color: var(--color-bg);
	border-radius: 100%;
	padding: var(--s-1);
	height: 24px;
	width: 24px;
	border: var(--border-style);
	font-size: var(--font-xs);
	color: var(--color-text-high);
}

.paginationButtonActive {
	color: var(--color-text-accent);
	background-color: var(--color-bg-high);
	border-color: var(--color-border-high);
}
