.filter {
	display: flex;
	flex-direction: column;
	padding: var(--s-3);
	border-radius: var(--radius-box);
	background-color: var(--color-bg-high);
	gap: var(--s-2);
}

.filterMode {
	gap: var(--s-6);
}

.filterDate {
	display: flex;
	align-items: center;
}

@media screen and (min-width: 750px) {
	.filter {
		flex-direction: row;
	}
}

.abilityContainer {
	display: flex;
	width: 32px;
	align-items: center;
}

.apSelect {
	width: 75px;
}

.dateSelect {
	width: 275px;
}
