.root {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	row-gap: var(--s-6);
	column-gap: var(--s-4);
	align-items: center;
	justify-content: center;
}

.header {
	display: contents;
}

.headerTeam {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: var(--s-1-5);
}

.headerTeamBravo {
	align-items: flex-start;
}

.headerTeamName {
	font-weight: var(--weight-bold);
	font-size: var(--font-md);
}

.headerAvatars {
	display: flex;
	gap: var(--s-1);
}

.headerScore {
	font-size: var(--font-xl);
	font-weight: var(--weight-extra);
	text-align: center;
}

.mapEvent {
	display: contents;
}

.mapSide {
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-self: center;
	align-self: stretch;
}

.mapCenter {
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: center;
	gap: var(--s-1);
}

.mapTimestamp {
	font-size: var(--font-3xs);
	color: var(--color-text-high);
	font-weight: var(--weight-semi);
}

.mapStageImage {
	border-radius: var(--radius-box);
}

.mapLabel {
	display: flex;
	align-items: center;
	gap: var(--s-1);
	font-size: var(--font-3xs);
	font-weight: var(--weight-semi);
	color: var(--color-text-high);
}

.sideResult {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--s-2-5);
}

.resultHeader {
	display: flex;
	align-items: baseline;
	gap: var(--s-1);
}

.resultLabel {
	font-size: var(--font-xs);
	font-weight: var(--weight-extra);
	text-transform: uppercase;
}

.resultPoints {
	font-size: var(--font-3xs);
	font-weight: var(--weight-semi);
}

.weaponRow {
	display: flex;
	gap: var(--s-0-5);
	background-color: var(--color-bg-higher);
	border: none;
	border-radius: var(--radius-full);
	padding: var(--s-0-5) var(--s-1-5);
	cursor: pointer;
}

.weaponPopover {
	display: flex;
	flex-direction: column;
	gap: var(--s-1);
}

.weaponPopoverRow {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	font-size: var(--font-xs);
	font-weight: var(--weight-semi);
}

.eventRow {
	display: contents;
}

.eventAlpha {
	justify-self: end;
}

.subCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.eventIcon {
	color: var(--color-text-high);
	background-color: var(--color-bg-higher);
	border-radius: var(--radius-full);
	padding: var(--s-1);
}

.subDetail {
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	row-gap: var(--s-1);
	column-gap: var(--s-3);
}

.subLabelOut {
	color: var(--color-error);
	font-weight: var(--weight-bold);
	font-size: var(--font-3xs);
	text-transform: uppercase;
}

.subLabelIn {
	color: var(--color-success);
	font-weight: var(--weight-bold);
	font-size: var(--font-3xs);
	text-transform: uppercase;
}

.subPlayerName {
	font-weight: var(--weight-semi);
	font-size: var(--font-xs);
}

.spSection {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	column-gap: var(--s-8);
	align-items: center;
}

.spIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.spColumn {
	display: grid;
	grid-template-columns: auto auto auto;
	row-gap: var(--s-1-5);
	column-gap: var(--s-2);
	align-items: center;

	&:first-child {
		justify-content: end;
	}
}

.spDetail {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
	font-size: var(--font-xs);
	align-items: center;
}

.spCalculatingIcon {
	font-size: 18px;
}

.spTeamIcon {
	width: 24px;
	height: 24px;
	border-radius: var(--radius-full);
	background-color: var(--color-bg-higher);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-high);
}
