.rosters {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-8);
	font-size: var(--font-xs);
	font-weight: var(--weight-semi);
	flex-direction: column;
}

@container (width >= 640px) {
	.rosters {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		max-width: max-content;
		margin-inline: auto;
	}
}

.rostersSpacedHeader {
	min-height: 45px;
	display: flex;
	align-items: center;
}

.rosterMembers {
	position: relative;
	padding-left: 34px;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	margin-top: var(--s-1-5);

	&::before {
		content: "";
		position: absolute;
		left: 21px;
		top: -8px;
		bottom: 0;
		width: 3px;
		background-color: var(--color-border-high);
		opacity: 0.3;
		border-radius: 0 0 var(--radius-field) var(--radius-field);
	}
}

.subbedOutTrigger {
	display: flex;
	align-items: center;
	gap: var(--s-1-5);
}

.subbedOutIcon {
	--subbed-out-icon-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--subbed-out-icon-size);
	height: var(--subbed-out-icon-size);
	border-radius: 100%;
	background-color: var(--color-bg-higher);
}

.subbedOutPopover {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
}

.subbedOutHeader {
	font-size: var(--font-xs);
	font-weight: var(--weight-semi);
	color: var(--color-text-high);
	text-transform: uppercase;
}

.rosterEditCount {
	font-size: var(--font-xs);
	color: var(--color-text-high);
	margin-block-end: var(--s-2);
	margin-inline-start: 12px;
}

.rosterEditButtons {
	display: flex;
	gap: var(--s-2);
	margin-block-start: var(--s-4);
}

.teamOneDot {
	border-radius: 100%;
	background-color: var(--color-accent);
	width: 8px;
	height: 8px;
}

.teamTwoDot {
	border-radius: 100%;
	background-color: var(--color-second);
	width: 8px;
	height: 8px;
}

.teamAvatar {
	border-radius: var(--radius-avatar);
	width: 44px;
	height: 44px;
	flex-shrink: 0;

	&[data-side="alpha"] {
		background-color: var(--color-accent);
	}

	&[data-side="bravo"] {
		background-color: var(--color-second);
	}
}
