.collapsed {
	display: flex;
	justify-content: center;
}

.collapsed.footer {
	background-color: var(--color-bg-higher);
	border-radius: 0 0 var(--radius-box) var(--radius-box);
	padding: var(--s-2);
	margin: var(--s-4) calc(-1 * var(--s-4)) calc(-1 * var(--s-6));
}

.expanded {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--s-4);
	container-type: inline-size;
	position: relative;
}

.expanded.footer {
	background-color: var(--color-bg-higher);
	border-radius: 0 0 var(--radius-box) var(--radius-box);
	padding: var(--s-4);
	margin: var(--s-4) calc(-1 * var(--s-4)) calc(-1 * var(--s-6));
}

.collapseButton {
	position: absolute;
	inset-block-start: var(--s-2);
	inset-inline-end: var(--s-3);

	& svg {
		min-width: 22px;
		max-width: 22px;
	}
}
