.container {
	display: flex;
	flex-direction: column;
	gap: var(--s-5);
}

.pickBanSelect {
	text-align: start;
}

.roundsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: var(--s-8);
}

.roundControls {
	display: flex;
	gap: var(--s-2);
	align-items: center;
	margin-block-start: var(--s-2);
	margin-block-end: var(--s-3);
}

.roundButton {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 2px solid var(--color-bg-higher);
	background-color: var(--color-bg-high);
	color: var(--color-text);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--fonts-sm);
	font-weight: var(--semi-bold);
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.roundButton:hover:not(:disabled):not(.roundButtonActive) {
	background-color: var(--color-bg-higher);
}

.roundButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.roundButton:focus-visible {
	outline: var(--field-focus-ring);
	outline-offset: 1px;
}

.roundButton svg {
	width: 1rem;
	height: 1rem;
}

.roundButtonActive {
	background-color: var(--color-text-accent);
	color: var(--color-text-inverse);
	border-color: var(--color-text-accent);
}

.roundButtonNumber {
	cursor: default;
	background-color: var(--color-bg-higher);
}

.roundControlsDivider {
	width: 3px;
	height: 2rem;
	border-radius: var(--rounded);
	background-color: var(--color-bg-higher);
	margin-inline: var(--s-1);
}

.mapListRow {
	display: flex;
	gap: var(--s-2);
	align-items: center;
	margin-block: var(--s-2);
	list-style: none;
	min-width: 275px;
	text-align: start;
}

.mapSelectContainer {
	display: flex;
	gap: var(--s-2);
	font-size: var(--fonts-sm);
	font-weight: var(--semi-bold);
	align-items: center;
	position: relative;
	flex: 1;
}

.mapSelect {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.mapSelectIcon {
	width: 1.25rem;
	height: 1.25rem;
	color: var(--color-text-high);
	margin-left: auto;
}

.infoPopover {
	margin-block-start: -6px;
}

.patternInput {
	max-width: 10rem;
}

.patternCode {
	background-color: var(--color-bg-higher);
	padding: 2px 6px;
	border-radius: var(--rounded-sm);
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	display: inline-block;
	min-width: 4.5rem;
	text-align: center;
}

.patternExample {
	display: flex;
	gap: var(--s-2);
	align-items: baseline;
	font-size: var(--fonts-xs);
	margin-block: var(--s-2);
}

.patternExplanation {
	flex: 1;
}
