.placeholder {
	min-height: 100vh;
}

.postTime {
	border-radius: var(--rounded-sm);
	background-color: var(--color-border);
	text-transform: uppercase;
	padding: var(--s-0-5) var(--s-2);
	font-weight: var(--bold);
	width: max-content;
	display: flex;
	gap: var(--s-0-5);
}

.postPrivateCell {
	min-width: 24px;
}

.postPrivateCell svg {
	width: 18px;
}

.postIcon {
	min-width: 24px;
}

.postStatus {
	display: flex;
	gap: var(--s-1);
	font-weight: var(--semi-bold);
	padding-block: var(--s-1);
	padding-inline: var(--s-2);
	width: max-content;
	border-radius: var(--rounded-sm);
}

.postStatusConfirmed {
	background-color: var(--color-success-high);
}

.postStatus svg {
	width: 18px;
}

.postStatusConfirmed svg {
	fill: var(--color-success);
}

.postStatusPending {
	background-color: var(--color-info-low);
}

.postStatusPending svg {
	fill: var(--color-info);
}

.postStatusCanceled {
	background-color: var(--color-warning-high);
}

.postStatusCanceled svg {
	fill: var(--color-warning);
}

.postFloatingActionCell {
	position: sticky;
	right: 0;
}

.cardsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: var(--s-4);
}

.filterButtons {
	display: flex;
	gap: var(--s-6);
	align-items: center;
}

.filterButtons button:not(.active) {
	color: var(--color-text-high);
}
