.groupsContainer {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--s-8);
}

@media screen and (min-width: 640px) {
	.groupsContainer {
		grid-template-columns: 1fr 1fr;
	}
}

.groupCard {
	border-radius: var(--rounded);
	background-color: var(--color-bg-high);
	padding: var(--s-2-5);
	display: flex;
	gap: var(--s-4);
	flex-direction: column;
}

.memberRow {
	display: flex;
	gap: var(--s-2);
	align-items: center;
	background-color: var(--color-bg);
	border-radius: var(--rounded);
	font-size: var(--fonts-xsm);
	font-weight: var(--semi-bold);
	padding-inline-end: var(--s-2-5);
	color: var(--color-text);
}

.infoHeader {
	text-transform: uppercase;
	color: var(--color-text-high);
	font-size: var(--fonts-xs);
	line-height: 1.1;
	font-weight: var(--semi-bold);
}

.infoValue {
	font-size: var(--fonts-xl);
	font-weight: var(--semi-bold);
	letter-spacing: 1px;
}

.chatContainer {
	border-radius: var(--rounded);
	background-color: var(--color-bg-high);
	padding: var(--s-2-5);
}

.screenBanIndicator {
	display: flex;
	align-items: center;
	gap: var(--s-1);
}

.screenBanImageWrapper {
	position: relative;
	display: inline-block;
	line-height: 0;
}

.screenBanImageWrapper picture {
	flex-shrink: 0;
}

.screenBanIconOverlay {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--color-bg-higher);
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.screenBanIconOverlay svg {
	width: 14px;
	height: 14px;
	color: var(--color-bg);
}

.screenBanIndicator svg {
	color: var(--color-success);
}

.screenBanIndicatorWarning svg {
	color: var(--color-error);
}
