.divider {
	height: 20px;
	margin: auto 0;
	width: 4px;
	border-radius: var(--rounded);
	background-color: var(--color-bg-higher);
}

.topContainer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.category {
	display: flex;
	flex-direction: column;
	padding: var(--s-3);
	border-radius: var(--rounded);
	background-color: var(--color-bg-high);
	font-size: var(--fonts-sm);
	font-weight: 600;
	gap: var(--s-4);
}

.categoryHeader {
	display: flex;
	align-items: center;
	gap: var(--s-2-5);
}

.categoryWeapons {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-3);
}

.categoryWeapon {
	display: flex;
	align-items: center;
	color: var(--color-text);
	font-size: var(--fonts-xs);
	font-weight: var(--body);
	gap: var(--s-1);
}

.categoryWeaponImg {
	border-radius: var(--rounded);
	background-color: var(--color-bg);
}
