.sectionTitle {
	font-size: var(--fonts-xl);
	border-bottom: 2px solid var(--color-bg-high);
	margin-bottom: var(--s-4);
}

.componentRow {
	display: grid;
	align-items: center;
	grid-template-columns: 200px 1fr;
	gap: var(--s-4);
}

.componentRow:last-child {
	border-bottom: none;
}

.componentLabel {
	color: var(--color-text-high);
	font-size: var(--fonts-sm);
}

.componentContent {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-sm);
	align-items: center;
}
