.pool {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-3);
}

.clickableItem {
	min-height: 50px;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
	transition: transform 0.1s;

	&:hover:not(:disabled) {
		transform: scale(1.1);
	}

	&:disabled {
		opacity: 0.4;
		cursor: not-allowed;
	}
}
