.container {
	max-width: 38rem;
}

.select {
	max-width: 16rem;
}

.badges {
	width: max-content;
	padding: var(--s-2);
	border-radius: var(--rounded);
	background-color: var(--bg-badge);
	font-size: var(--fonts-sm);
	font-weight: var(--semi-bold);
}

.dayLabel {
	margin: 0;
}

.avatarPreview {
	width: 124px;
	height: 124px;
	border-radius: 100%;
}
