.badges {
	width: max-content;
	padding: var(--s-2);
	border-radius: var(--radius-box);
	background-color: var(--color-bg-badge);
	font-size: var(--font-sm);
	font-weight: var(--weight-semi);
}

:global(html.light) .badges {
	color: var(--color-text-inverse);
}

.dayLabel {
	margin: 0;
}

.avatarPreview {
	width: 124px;
	height: 124px;
	border-radius: var(--radius-avatar);
}

.trophyPreview {
	background-color: var(--color-bg-high);
	border: var(--border-style);
	border-radius: var(--radius-field);
}
