.badges {
	display: flex;
	min-width: 20rem;
	max-width: 20rem;
	min-height: 12rem;
	align-items: center;
	padding: var(--s-2);
	border-radius: var(--radius-box);
	background-color: var(--color-bg-badge);
	margin-inline: auto;
}

.smallBadges {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;
	cursor: pointer;
	gap: var(--s-3);
}

.badgeExplanation {
	color: var(--color-text-high);
	font-size: var(--font-xs);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--s-2);
	margin-block-end: var(--s-1);
}

.smallBadgeContainer {
	position: relative;
}

.smallBadgeCount {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -8px;
	margin-right: auto;
	margin-left: auto;
	color: var(--color-accent-high);
	font-size: var(--font-2xs);
	font-weight: var(--weight-bold);
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-2-5);
	justify-content: center;
	align-items: center;
	max-width: 20rem;
	margin: 0 auto;
	margin-block-start: var(--s-2);
}

.paginationButton {
	background-color: var(--color-bg);
	border-radius: 100%;
	padding: var(--s-1);
	height: 24px;
	width: 24px;
	border: var(--border-style);
	font-size: var(--font-xs);
	color: var(--color-text-high);
}

.paginationButtonActive {
	color: var(--color-text-accent);
	background-color: var(--color-bg-high);
	border-color: var(--color-border-high);
}
