.container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-4);
}

.categorySection {
	display: flex;
	flex-direction: column;
	gap: var(--s-1);
	margin: 0 auto;
}

.categoryLabel {
	font-size: var(--fonts-sm);
	font-weight: var(--semi-bold);
	color: var(--text-lighter);
}

.categoryPill {
	display: flex;
	align-items: center;
	background-color: var(--bg-lightest);
	border: 2px solid var(--border);
	border-radius: var(--rounded-full);
	overflow: hidden;
}

.categoryItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--s-1);
	padding: var(--s-1) var(--s-4);
	border-left: 1.5px solid var(--border);
	flex: 1 1 0;
	min-width: 0;
}

.categoryItem[data-first="true"] {
	border-left: none;
}

.categoryName {
	font-size: var(--fonts-xxs);
	font-weight: var(--semi-bold);
	white-space: nowrap;
}
